[2017-08-02 15:26] jodygarnett opened #6 "service provider page number of employees"
The data collection form has:

Organization Type

1. Individual Consultant
2. Small organization (1-25 employees)
3. Mid to large organization (>25 employees)

[2017-08-02 15:29] jodygarnett opened #7 "service provider form glitches"
number of employees:
- should be a range (individual, small, mid, large) as per wireframe
- core contributor - this is not a radio option, core contributor is per project

[2017-08-02 19:03] jodygarnett opened #8 "Additional social media contact points for "lets connect" section"
Sandro has provided the following feedback via email:

I believe that these are other social networks

[2017-08-02 22:35] strk commented on #8
For reference, the technologies I mentioned as part of the "fediverse" are free software projects that you can deploy to setup a node of a decentralized "social network". These are:

Twitter-like (all public, short messages):
  - http://mastodon.social
  - http://gnu.io/social/

Facebook-like (optionally private, longer messages):
  - http://diasporafoundation.org/
  - http://friendi.ca

For each

[2017-08-03 09:39] lucadelu opened #9 "feedback on project and local chapter templates"
Few feedback on project and local chapter template:
- google+ icon doesn't show on communication section
- less space between core activities title and specs
- the header is big, maybe reduce a little bit the fond or the top-bottom pagging/margin

In the admin project page
- core features admin page: maybe this should be a list to select values, otherwise add a comment how to add them (what should

[2017-08-03 10:00] lucadelu opened #10 "Member profile - feedback and questions"
In the member web page template
* [x] The website should be bigger, maybe use a header "Website" like "Company" and under the click-able name of the website
* [ ] The space between lines in the right column with the website/company/...  are really strange, I would prefer less space between title and value instead of between the value and the next title..

In the profile admin page:
* [ ] I cannot

[2017-08-04 16:44] klassenjs opened #11 "StyleGuide lists incorrect light color, readme is correct"
The "For Web" hex and "Digital" decimal colors don't match for the Light color listed in the PDF.  The Readme appears correct.

https://github.com/OSGeo/osgeo/blob/master/marketing/branding/styleguide-osgeo.pdf
https://github.com/OSGeo/osgeo/blob/master/marketing/branding/README.md

PS: I'm looking at commit bb6dc57

[2017-08-08 05:32] jodygarnett commented on #7
This looks a bit better today, was able to select core contributors from a list of service providers.

I am willing to mark this one as resolved and reopen if needed.

[2017-08-08 05:35] jodygarnett commented on #8
@strk Can I ask if this feedback is when editing projects? Or everything (projects, service providers, geoforall labs, ....).

The project template seems the most complete and let's us add multiple items, choosing from a list.

[2017-08-08 05:46] jodygarnett commented on #9
I am also confused about the core features + specs.

If we look at the osgeo-live overviews these usually show up as bullet point list, with each bullet point defined by the project as a sentence or sentence fragment.

examples:

* https://live.osgeo.org/en/overview/geoserver_overview.html
* https://live.osgeo.org/en/overview/geonode_overview.html
* https://live.osgeo.org/en/overview/qgis_overview

[2017-08-08 08:21] strk commented on #8
It was for the website. Now I cannot find the link to the alpha website (may be worth adding it to the README.md file in this repository). I don't remember having seen a field in the projects template for "social" presence. BTW, weren't there a proposal to gather those information with an XML file to be published on the project's web page ?

[2017-08-08 14:44] jodygarnett commented on #8
Yes but the osgeo live project was busy so it has not happened yet. It is
still a god idea now that their release is done. Think it was an about.yaml
file to commit into your repo.
On Tue, Aug 8, 2017 at 1:21 AM Sandro Santilli <notifications@github.com>
wrote:

--
--
Jody Garnett

[2017-08-08 18:18] jodygarnett commented on #11
That is correct, it is a draft readme (from months ago) and I noted the problem for Pim.

If you spot anything else, or have any other feedback or requests for the style guide please speak up it is being worked on this week.

So far feedback has focused on photos, cartography and examples for subbrands to consider when making their own logo.

[2017-08-08 18:19] jodygarnett commented on #10
Question, do you think members would like to list their company here? Like link to a service provider (or even partner) page?

[2017-08-09 08:05] lucadelu commented on #10
For me it is the same, I don't need to see my company there...

[2017-08-09 16:49] jodygarnett commented on #11
I have uploaded styleguide-osgeo-v4.pdf from pim correcting this issue.

There are still a number things to do, such as adding a cartography section.

[2017-08-09 16:49] #11 closed

[2017-08-09 19:38] wenzeslaus opened #13 "Colors in Branding Style Guide are not consistent"
The page 9 of the Branding Style Guide shows the two main colors in the logo and as squares, but these don't fit with "for digital" and "for web" definitions.

Text says: `#4cb05b #00393F`
Colors are: `#4dbf5e #12343A`

Image shows the difference (part of page 9 modified in Inkscape):

![styleguide_colors](https://user-images.githubusercontent.com/5449060/29140192-a2820da0-7d17-11e7-9217-76ae54417

[2017-08-09 20:17] milenanv opened #14 "OSGeo experience and roles icons needed"
I believe we would need also OSGeo experience and roles icons, which we use in OSGeo wiki pages, eg. [1].

[1] https://wiki.osgeo.org/wiki/File:OSGeo_charter.png

[2017-08-10 08:57] lucadelu commented on #9
Probably we should fix this before Friday, so we can add the features properly...

[2017-08-10 14:25] jodygarnett commented on #9
They covered it in the meeting, the two columns should be renamed "heading" and "bullet point".

[2017-08-10 14:30] cvvergara opened #15 "Make Initiative for OSGeo participation in Google Summer of Code"
Can this repository be used also to store a promotional poster of the: OSGeo-GSoC program?

[2017-08-10 15:54] jodygarnett opened #16 "Support for non osgeo projects"
The project marker is limited to "OSGeo Project" and "OSGeo community" markers. Not all open source spatial projects are from our organization, please expand this list to include:

![project-options](https://user-images.githubusercontent.com/629681/29179495-75266d78-7da9-11e7-8571-e3a1f7c4d335.png)

Here is the affected page - http://osgeo.getinteractive.nl/projects/jts/

[2017-08-10 15:59] jodygarnett commented on #16
http://osgeo.getinteractive.nl/projects/osgeo-live/ <-- no project affiliation
http://osgeo.getinteractive.nl/projects/jts/ <-- locationtech

[2017-08-10 16:47] wenzeslaus opened #17 "Resource form misses relation to a project"
The Resource form mentions relation to event or committee, but it never explicitly mentions relation to the software project. I was transferring http://www.osgeo.org/node/1592 there and I missed filed for related OSGeo (software) projects, other open source software, and any other software. What I did I put GRASS GIS to tags but that seemed not sufficient.

[2017-08-10 16:57] wenzeslaus opened #18 "Resource form misses license, language, format and more"
In comparison to the edu content inventory (e.g. http://www.osgeo.org/node/1592), the resource form does not have a field for a:

* [ ] license (e.g. can I reuse commercially?)
* [ ] (natural) language
* [ ] format (that's good to know what you will get when you get there; a web page, website, GitHub repo with Markdown files, PDF, ...?).

The level of experience (Graduate Students, Intermediate GI

[2017-08-10 21:33] jodygarnett commented on #10
Location:
* my city is not in the list, I actually expected to fill in 48.428611, -123.365556 for the member map

Select Member Type:

* this is single selection - I need checkboxes: I am a charter member, committee member and project steering committee member

[2017-08-10 21:34] jodygarnett commented on #10
Project:

* had added my name to the JTS project page, and then when I added the project link when editing the member profile I now show up twice on the JTS project page.

[2017-08-11 00:27] jodygarnett opened #19 "Combine Project and Topics and Technologies"
I am finding projects like QGIS and OSGeo-Live incorrectly listing themselves as it is not obvious that Level 1 Topics and Level 2 Technologies are related.

I noticed when editing Technologies "Integrated" --> "Portal" that individuals items can form a tree. Can we change to the following tree structure to prevent confusion?

Topics
[code]

Technologies can then be removed, since it is causing co

[2017-08-11 00:47] jodygarnett commented on #19
Okay I am excited about this change, it will make the choose a project classification much easier to manage

[2017-08-11 06:47] astroidex opened #20 "How can I connect events to local chapters?"
On the local chapters page it says Events

* http://osgeo.getinteractive.nl/local-chapters/fossgis-e-v/

How can I connect an event to a local chapter so that it shows up at the local chapters page?

[2017-08-11 12:15] jeffreylasut commented on #16
added the option Other...

[2017-08-11 12:50] jeffreylasut commented on #19
All topic titles are changed as suggested.

[2017-08-11 13:03] jeffreylasut commented on #20
@astroidex You can do this by adding a event (http://osgeo.getinteractive.nl/wp-admin/edit.php?post_type=event) and in the tab initiative you select the local chapter.

[2017-08-11 13:06] jodygarnett commented on #16
Thanks, would also like to have LocationTech and KDE (so those projects can be branded with the appropriate logo).

[2017-08-11 13:13] jodygarnett commented on #19
Not sure we communicated well, I am talking about"

a) Removing "Technologies"
b) Using the "Parent Category" field to produce the tree structure using child topics

![sub-topic](https://user-images.githubusercontent.com/629681/29214422-2048b708-7e5c-11e7-8cca-570bcbacb8cd.png)

[2017-08-11 13:18] astroidex commented on #20
Hi @jeffreylasut - thanks for the info.

[2017-08-11 13:18] #20 closed

[2017-08-11 14:23] jodygarnett commented on #19
A good idea, but breaks the filter sytem.

The existing approach is better as "cartography + mobile" and "development + mobile" can both be accomplished in the filter without duplication.

[2017-08-11 17:53] rouault opened #22 "Bulk import service provider are all located in "Basel, Switzerland""
All in title

[2017-08-11 17:58] cvvergara opened #23 "Broken Mailing lists and Newsletters links"
Both links are broken:
![brokenlinks](https://user-images.githubusercontent.com/5035290/29225629-b1906f20-7e94-11e7-93dd-dc334f916e73.png)

[2017-08-11 19:34] rouault opened #24 "projects: add capability to list non-OSGeo member contributors"
Currently you can only add as core contributors of a project people who have a account in the website. Could be useful to link to github account as well for example

[2017-08-11 21:29] timlinux commented on #22
Confirm this - can be seen in Kartoza provider profile too..

[2017-08-11 21:30] rouault commented on #22
For the record, I fixed this manually for my case in wordpress by creating a new location

[2017-08-12 00:19] jodygarnett commented on #16
This is now resolved, the default radio button is still "OSGeo project" leading many projects to miss list themselves.

[2017-08-12 00:19] #16 closed

[2017-08-12 00:21] jodygarnett commented on #24
On the other hand I would love to make sure that core contributors all have edit access to fix and correct their project web pages.

You should be able to use the project "contributors" link to reference your github contributors page.

[2017-08-12 00:23] jodygarnett commented on #18
Those are some good suggestions, I also want to make sure that it is easy/quick to add content so we should balance the number of fields we require.

Would it be okay to have a "spec" section like projects where you can list details such as you describe? Or does it need to be structured.

[2017-08-12 00:25] jodygarnett commented on #23
The website is still being written please take a moment to provide more complete title and description so we can make efficient use of our time with Get Interactive.

[2017-08-12 00:31] jodygarnett commented on #14
We are recording how a user participates, one of the goals of this website it to celebrate our members and encourage participation.

Thinking about this I believe we have a much better story to tell.

* Committee members are cross listed on their committee page
* Project committee members are cross listed on the project page
* Etc...

It is much more powerful to show what someone does than to have

[2017-08-12 00:32] jodygarnett commented on #14
We could also choose to show volunteers that take on responsibility in color, and use grayscale for charter members that are not volunteering.

[2017-08-12 00:34] jodygarnett commented on #15
Of course, I think that would be good to mark down as an initiative (similar to GeoForAll and OSGeo Live). Do you want to make a page for Google Summer of Code?

It is up to you if you want to do an initiative or have an osgeo committee, both work okay, committees are a bit more internal, initiatives should have an outreach focus.

[2017-08-12 00:44] #6 closed

[2017-08-12 00:45] jodygarnett commented on #13
The style guide was updated at about the same time as you reported this issue, can you confirm you are still seeing this inconsistency?

https://github.com/OSGeo/osgeo/blob/master/marketing/branding/styleguide-osgeo.pdf

[2017-08-12 01:06] jodygarnett commented on #10
Luca we better break up our feedback into individual bug reports and close this; with more people working on it we are just going to get duplicates

[2017-08-12 01:10] jodygarnett opened #25 "Member Profile - Select Member Type and recognition of member participation"
This is single selection which does not reflect our needs (personally I am a charter member, committee member and project steering committee member).

Options to resolve:

* [x] Use checkboxes, see #42
* [ ] Use a single **charter member**  checkbox - relying on cross link to project pages, and committee pages and geoforall labs to capture member participation.

Examples:
- http://osgeo.getinterac

[2017-08-12 02:20] wenzeslaus commented on #13
Yes. The same inconsistency as before. Slightly different actually (`#4CBF5D #12343A`). When viewing the PDF directly on GitHub, I get different colors (`#4CBE6B #0B373D`) in Firefox and Chromium, I don't know why is that, but regardless I would trust more the desktop view than the GitHub view.

[2017-08-12 02:44] wenzeslaus commented on #18
I don't think it needs to be structured much, but it can be on some Spec page. Pages actually helped me with filling.

It definitively should be optional. However, searching by a license is an important case and we should be care about licensing of these in the same way we care about licenses for code. Having them as explicit (rather than fields) I think may encourage people to actually fill it if

[2017-08-12 02:48] wenzeslaus opened #26 "Resource form: single answer versus mulltiple answers"
The screenshots in the form are not consistent with  the form itself. The screenshots show (multiple) checkboxes (checked) and the form has radio button (with only one choice). The third way is doing same set two times with What is primary topic/audience? What is secondary audience? It can be mixed in the interface, but people need to select two with clear priority.

[2017-08-14 15:48] jj0hns0n opened #38 "Members: Paging does not work"
http://osgeo.getinteractive.nl/community/members/ Does not seem to include a way to page through the results.

[2017-08-14 16:33] jeffreylasut commented on #38
this is fixed, please refresh to clear browser cache CTRL + F5

[2017-08-14 16:47] jj0hns0n commented on #38
Thanks @jeffreylasut

[2017-08-14 16:47] #38 closed

[2017-08-14 16:54] jodygarnett opened #39 "GeoForAll Lab missing website URL field"
The form for a GeoForAll lab is missing a place to put website url link.

[2017-08-14 17:06] jodygarnett opened #40 "GeoForAll logo not working, broke image upload and crop"
Filling in details for http://osgeo.getinteractive.nl/geo-for-all-labs/ngi/

And I cannot define the logo for the lab by selecting an existing photo:

<img width="961" alt="broken" src="https://user-images.githubusercontent.com/629681/29282563-43c41cb2-80f1-11e7-9769-5d0da2efc2b8.png">

[2017-08-14 18:54] jj0hns0n opened #41 "Projects should be able to be of multiple types"
Some projects are BOTH OSGeo and KDE for instance

[2017-08-14 18:56] jj0hns0n opened #42 "Members should be able to be more than one type"
Many people are charter members, part of a project team and on a committee. This should be a multi select.

[2017-08-14 19:10] stevenfeldman opened #43 "No Donate button on home page"
We currently have a donate button on the home page which allows people to make small donations via PayPal. We used this feature to crowdfund part of the of Travel Grant Programme.

Can we get that button recreated on the home page pls

[2017-08-14 20:24] jj0hns0n opened #44 "Search Not working"

[2017-08-14 20:24] jj0hns0n opened #45 "Filters not working"

[2017-08-14 21:18] neteler commented on #22
@rouault I'd do the same for mundialis, how to get into WP?

[2017-08-14 22:35] Delawen opened #46 "Spanish Language Chapter location"
So, how do I add location when location is several places at the same time?

On our case: "Spain, Andorra, Argentina, Bolivia, Chile, Colombia, Costa Rica, Cuba, Dominican Republic, Ecuador, El Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Puerto Rico, Uruguay, Venezuela, United States, Equatorial Guinea"

Can we add more than one Location per chapter?

I tried to do the dirt

[2017-08-14 22:55] jj0hns0n opened #47 "Convert Bird's Eye View to Service Provider"
http://osgeo.getinteractive.nl/geo-for-all-labs/birds-eye-view/ ... should be a service provider not a GeoForAll Lab

[2017-08-14 22:56] jj0hns0n opened #48 "Attivarti.org in GeoForAll Labs?"
Not sure if this is a GeoForAll Lab or if it belongs somewhere else on the site?

http://osgeo.getinteractive.nl/geo-for-all-labs/attivarti-org/

[2017-08-14 23:01] jj0hns0n opened #49 "default thumbnail/snippet image should be OSGeo Logo or correct image"
See when shared via Facebook. Should NOT be GeoCat image.

<img width="401" alt="screen shot 2017-08-14 at 16 00 45" src="https://user-images.githubusercontent.com/506078/29295528-bf62ec96-8109-11e7-8a31-e41add0069c1.png">

And this one SHOULD be GeoCat, but not GeoSolutions :)

<img width="218" alt="screen shot 2017-08-14 at 16 01 10" src="https://user-images.githubusercontent.com/506078/29295542

[2017-08-14 23:19] Delawen commented on #49
:roll_eyes:

[2017-08-14 23:39] Delawen opened #50 "SEO Analysis wrong/inconsistent"
![image](https://user-images.githubusercontent.com/726590/29296434-92f9cc6e-815a-11e7-82b6-7b2f18c5f609.png)

What text?

https://kb.yoast.com/kb/error-text-contains-0-words/

_"f you’re using a page builder that does not share their content, please contact their development team to request compatibility with the Yoast SEO keyword analysis. They can learn more about this functionality here."_

[2017-08-15 01:20] jj0hns0n commented on #50
@jeffreylasut can we just turn off this plugin for now please?

[2017-08-15 03:50] jj0hns0n opened #51 "Add section on Geocat "Most Innovative Developer Award""
@delawen can you help with this.

[2017-08-15 03:53] jj0hns0n opened #52 "Where is the page about incubation"
@jodygarnett where should this go in the IA?

[2017-08-15 03:54] jj0hns0n opened #53 "Add 'Store' to the menu"
Add the store to the menu under Community

[2017-08-15 03:54] jj0hns0n opened #54 "Update the wiki with the new branding"

[2017-08-15 03:55] jj0hns0n opened #55 "Add cards for Committees"
And an example committee page.

[2017-08-15 03:56] jj0hns0n opened #56 "See if we can migrate all the old service providers"
http://www.osgeo.org/search_profile?SET=1&MUL_COUNTRY%5B%5D=00092&MUL_COUNTRY%5B%5D=00090&MUL_COUNTRY%5B%5D=00048&MUL_COUNTRY%5B%5D=00085&MUL_COUNTRY%5B%5D=00097&MUL_COUNTRY%5B%5D=00053&MUL_COUNTRY%5B%5D=00030&MUL_COUNTRY%5B%5D=00001&MUL_COUNTRY%5B%5D=00091&MUL_COUNTRY%5B%5D=00033&MUL_COUNTRY%5B%5D=00104&MUL_COUNTRY%5B%5D=00061&MUL_COUNTRY%5B%5D=00109&MUL_COUNTRY%5B%5D=00064&MUL_COUNTRY%5B%5D=0010

[2017-08-15 03:57] jj0hns0n opened #57 "How do we migrate/ressurect OSGeo Journal?"
https://journal.osgeo.org/index.php/journal/index

[2017-08-15 03:58] jj0hns0n opened #58 "Add individual pages for each Sol Katz award year"

[2017-08-15 03:59] jj0hns0n opened #59 "Create Local Chapter Pages from Existing"
We can remove duplicates for ones already submitted.

http://www.osgeo.org/content/chapters/index.html

[2017-08-15 04:00] jj0hns0n opened #60 "Change background Image for GeoForAll to be distinct from Homepage"

[2017-08-15 04:00] jj0hns0n opened #61 "Add news to GeoForAll sub header"

[2017-08-15 04:00] jj0hns0n opened #62 "Add resources to GeoForAll Subheader"

[2017-08-15 04:40] jj0hns0n opened #63 "Migrate GeoForAll form to Wordpress Form"

[2017-08-15 05:36] jodygarnett commented on #52
Look in the site map spreadsheet we have some things to move around.

[2017-08-15 07:03] gisnederland opened #64 "Aspect ratio of Local chapters logos distorted on mobile"
On my mobile device (android, chrome) the aspect ratio of the logos on the "local chapters"  page is distorted (too high / squeezed).

[2017-08-15 07:21] kobben commented on #22
For the record: same bug for "Local Chapters" pages...

[2017-08-15 10:54] neteler opened #65 "Service providers: logos missing"
On page http://osgeo.getinteractive.nl/service-providers/ the logos of CartoLogic and Mundialis (which is really written "mundialis") are not yet there.

Here the mundialis logo: https://files.mundialis.de/mundialis_logo/mundialis_logo_white_blue.png

[2017-08-15 12:02] Delawen commented on #51
As soon as I can!

On Aug 14, 2017 11:50 PM, "Jeffrey Johnson" <notifications@github.com>
wrote:

[2017-08-15 12:27] Delawen commented on #51
I would say fixed! But I cannot close this...

[2017-08-15 16:47] kalxas opened #66 "Cannot add GitHub account in a profile"
GitHub is not in the social media list

[2017-08-15 20:31] jodygarnett commented on #19
Going to reopen as the choose-a-project cannot work as written; it combines all the tags rather than use them to fitter as planned. The approach mentioned on this ticket is one way to fix this.

<img width="400" alt="project-tags" src="https://user-images.githubusercontent.com/629681/29334958-2470cdf6-81d7-11e7-8033-a056b4a6dc70.png">

The above settings should show only PostGIS

[2017-08-16 15:28] jj0hns0n opened #67 "Long titles break resource cards"
![image uploaded from ios 3](https://user-images.githubusercontent.com/506078/29371290-da222f2a-825c-11e7-8370-9d32ab700b73.jpg)

[2017-08-16 23:02] kalxas opened #68 "Only OSGeo Projects should be presented on the initial landing page of Projects"
Perhaps this can be done with a filter that will be enabled by default?

[2017-08-19 15:49] smithkm opened #71 "Chat services in Social media list"
Gitter https://gitter.im
Slack https://slack.com/
IRC for a logo just use #
Jabber/XMPP https://xmpp.org/ (A lightbulb might be more recognizable than the XMPP logo)

[2017-08-19 18:35] klassenjs opened #72 "Tools/Libraries Based on"
Common image size, not square, keep it consistent.

[2017-08-19 18:46] jodygarnett opened #73 "splash image requires crop, making duplicates in the media list"
See:

- http://osgeo.getinteractive.nl/resources/state-jts-2017/
- http://osgeo.getinteractive.nl/resources/osgeo-agm-2017/

[2017-08-19 20:01] smithkm opened #74 "Security Issue Disclosue"
A consistent and prominent place to put a link for secure and responsible disclosure of security vulnerabilities (distinct from the project's normal issue tracking) would be helpful on the project pages.

[2017-08-19 21:28] stevenfeldman commented on #64
This is also happening on my laptop with a full screen browser

[2017-08-19 21:42] stevenfeldman opened #75 "No paragraph breaks in member profile/biography"
Member profiles do not support paragraph breaks (they get stripped out)

[2017-08-21 21:58] jodygarnett commented on #22
Talk to @jj0hns0n to get access to word press, additional locations being added all the time.

I just added Null Island (which we can use for any organization that want to protect their location)

[2017-08-21 22:04] jodygarnett commented on #74
I am not sure Kevin, this is for visitors learning that the software exists at all.

Details on how to interact with the project team are a little bit off topic. Best suggestion is to link to have the "issue tracker" link go to a project page discussing use of an issue tracker.

We can also make an page on security issues and responsible disclosure when describing how open source works.

[2017-08-21 22:06] jodygarnett commented on #72
Thanks for the bug report, it would be good to cross link projects on the website.

I know for some projects it is important that they reference their environment (Java Enterprise Application, or Apache Spark). This should be handled as part of the description, rather than saying GeoServer is based on Java Enterprise Edition).

[2017-08-21 22:07] jodygarnett commented on #71
I think this common request may of been handled during the sprint?

[2017-08-21 22:08] jj0hns0n commented on #22
@neteler confirming you are in now and can fix this for your records?

[2017-08-21 22:09] jodygarnett commented on #68
We can do that, it depends on our communication priorities.

I hope that by establishing the search order OSGeo Project > OSGeo Community that this issue will go away (because it will be a page or two before any non OSGeo content is visible, thus making it easier for the filters to behave as intended).

[2017-08-21 22:13] jodygarnett commented on #52
See #55

[2017-08-21 22:17] jodygarnett commented on #50
@Delawen do you have the page that made that mistake? I have found the SEO to work "okay", but I do not think we pay for it long term so I expect it to go away.

[2017-08-21 22:19] jodygarnett commented on #15
Can you see clarification @cvvergara and then make the appropriate page :)

[2017-08-21 23:40] jodygarnett commented on #47
Think we will need to cut and paste this one

[2017-08-21 23:41] jodygarnett commented on #65
This is now resolved :)

[2017-08-21 23:43] #65 closed

[2017-08-21 23:45] jodygarnett commented on #46
I have added this into the issue tracker once before, it also effects service providers.

The current location fields are insufficient. I had hoped we could list a multi point for these cases?

Given how location has been factored out into a seperate content type we may need to rephrase this requirement.

[2017-08-21 23:50] jodygarnett opened #76 "Location - how to handle multi-point or polygon locations"
I can see how Locations has been factored out into a unique content type. We have a limitation right now that this only reflects single point locations.

We have a need for multi-point:
- service providers that have more than one office
- geoforall labs that are split across several locations
- local chapters that operate across several regions (for example #46)

We may also have the need for a mu

[2017-08-21 23:51] jodygarnett commented on #51
I am not sure, this is a company specific award not administered by OSGeo. Thoughts?

[2017-08-22 00:02] jodygarnett commented on #18
Confirmed, editing - http://osgeo.getinteractive.nl/resources/geo-spatial-org/

[2017-08-22 00:04] jodygarnett commented on #18
For multiple URLs you should be able to add multiple call to actions, I have done so in a few places.

Example: http://osgeo.getinteractive.nl/resources/osgeo-agm-2017/

[2017-08-22 00:07] jodygarnett commented on #8
Is this resolved? I know additional icons were added as options during the code sprint

[2017-08-22 00:10] jj0hns0n commented on #51
Seems to me its more a community award 'sponsored' by one of our sponsors.
I would like to see *more* awards like this given.

We also need to add the student awards, this is more important.

On Mon, Aug 21, 2017 at 4:51 PM, Jody Garnett <notifications@github.com>
wrote:

[2017-08-22 06:09] strk commented on #8
It looks like all icons were removed, or I cannot find the page anymore, can you ? Closest I got to is http://osgeo.getinteractive.nl/community/communications/ -- this ticket can be closed

[2017-08-22 06:35] gisnederland opened #77 "MouseOver text on images has no valuable information (just shows filename)"
Case:
When hovering over images (such as logos) the "title" attribute of the image is shown.
Currently, that's in all (?) cases simply the filename of the image, such as _GeoCat-1_740x412_acf_cropped-370x206.png_.
Apparently taken from the title attribute, which seems to be a copy of the "alt" attribute.

Solution:
either remove entirely, or replace the title attributes with more valuable informat

[2017-08-22 07:33] Delawen commented on #46
I think the best option should be to have multiple locations with maybe a main location as the contact point.

Worst case: "Location: worldwide" which also would fit our usecase.

[2017-08-22 07:38] Delawen commented on #50
The GeoNetwork page.

I cannot find anything else to fill, but still it is there.

[2017-08-22 12:28] jj0hns0n commented on #50
I've CC'd GET and ask them to turn it off. This plugin isn't really
providing much value now. We can revisit SEO later.

On Tue, Aug 22, 2017 at 00:38 María Arias de Reyna <notifications@github.com>
wrote:

[2017-08-22 15:30] jodygarnett commented on #46
Or Null Island :)

[2017-08-22 15:32] Delawen commented on #46
I created a worlwide placed in null island :)

On Tue, Aug 22, 2017 at 5:30 PM, Jody Garnett <notifications@github.com>
wrote:

[2017-08-22 16:38] stevenfeldman opened #78 "Email address in local chapters is visible"
Currently the email address field in Contact Details forces an aaa@bbb.ccc type structure and then displays that in the page, which may attract spammers and scrapers.

Could we?
a) use a contact form plug-in
b) allow descriptive mail addresses e.g. aaa at bbb dot ccc
c) come up with another solution

[2017-08-22 16:41] stevenfeldman opened #79 "No web address in Local Chapter pages"
There is no pre-set place for a local chapter's web address.
Potential work-rounds are to
a) embed a link in the text in the header
b) add a call to action button
c) embed a link in the main body text
Ideally the web link should be in a consistent place e.g. in the About section at the bottom of the page

[2017-08-22 22:37] jodygarnett commented on #79
Thanks Steve.

Do you think we should start a discussion on the geoforall mailing list? The ones on discuss@osgeo.org are actively providing feedback and review. I think GeoForAll pages could use a similar careful review.

[2017-08-22 22:39] jodygarnett commented on #78
I would rather have this visible, this website is for visitors and if you want to provide an email contact point ... provide an email contact point. I do not think in 2017 that any amount of casual manipulation will protect email addresses from scraping (and only make the website harder for visitors.)

[2017-08-23 10:21] stevenfeldman commented on #79
Good idea
I don't know whether the GeoForAll folk have been actively engaged in populating and testing the new site.

[2017-08-23 10:24] stevenfeldman commented on #78
Not 100% convinced but I will defer to you

The contact form on my WordPress site filters out most of the spam and doesn't prevent people making contact

[2017-08-23 20:24] jodygarnett commented on #78
Do you think having a contact form, rather than an email address would be appropriate?

[2017-08-23 20:46] stevenfeldman commented on #78
Try my contact form on my web site http://knowwhereconsulting.co.uk/contact/ <http://knowwhereconsulting.co.uk/contact/>

Easily customised, inoffensive and pretty much spam proof (if you implement the captcha type functionality)

Would need to ask get interactive for advice on having multiple forms forwarding to different email addresses
______
Steven

[2017-08-23 20:54] astroidex opened #80 "osgeo_live_letter.pdf file seams to be invalid"
* can't open https://github.com/OSGeo/osgeo/blob/master/marketing/print/osgeo_live_letter.pdf
* better rename the file to osgeolive_letter.pdf

[2017-08-23 20:54] jodygarnett commented on #78
Changing the bug ticket so we can take this idea in for review / triage

[2017-08-24 19:28] jodygarnett opened #81 "News Item share this heading empty"
Assume this is simply not done yet.

Here is an example page:

http://osgeo.getinteractive.nl/foundation-news/geo4africa-2017/

[2017-08-25 14:27] jmckenna commented on #54
updated wiki with new logo.  If you have a better version please provide.

[2017-08-25 14:29] jj0hns0n commented on #54
Awesome, thanks @jmckenna !

[2017-08-25 14:29] #54 closed

[2017-08-25 17:08] jmckenna opened #82 "Missing favicon (small icon in locationbar)"
This is usually set in the `header.php` of the theme.

I generated one for the OSGeo wiki, which could be used (if a better version doesn't exist):

  http://www.gatewaygeomatics.com/dl/favicon.ico

[2017-08-28 21:11] Schpidi commented on #51
The current list is missing Thomas as 2015 winner

[2017-08-28 21:15] Schpidi commented on #71
IRC shouldn't require a full URL, username is enough

[2017-08-28 22:06] jsanz opened #83 "News item links are not visible, only shown on hover, making discovery hard"
Website (at least in the news items) don't display links, only on hover. This makes hard for users to follow links to resources and such.

[Example post](http://osgeo.getinteractive.nl/foundation-news/geomoose-3-0-0-released/)

![2017-08-28_18 04 49-selection](https://user-images.githubusercontent.com/188264/29795732-7e318648-8c1b-11e7-9928-2103d3f6e1f2.png)

Link only visible on hover

![2017-08-

[2017-08-30 05:40] jodygarnett opened #84 "grass gis showing up in mega menu multiple times"
grass gis is currently listed as the following project types:

* Desktop Application (primary)
* Geospatial Library
* Spatial Database

There are two solutions to this:

* Use *Primary* to determine location of an OSGeo project in the mega menu
* Make **Project Type** single selection

[2017-08-30 05:42] jodygarnett opened #85 "grass gis logo showing up under action buttons"
For the following page: http://osgeo.getinteractive.nl/projects/grass-gis/

The logo is tall, rather than wide, and extends outside of its white box under the visit our website and donate button.

![grass-glitch](https://user-images.githubusercontent.com/629681/29857032-46230696-8d0b-11e7-9c9d-43973f985201.png)

[2017-08-30 05:43] jodygarnett commented on #84
This issue has a workaround, only selecting single project type, as such it can be a lower priority.

[2017-08-30 06:39] neteler commented on #84
Not sure what needs to be done here. Primary is used.

[2017-08-30 06:42] neteler commented on #85
Yes, it looks ugly like that. I tried to fix it with the internal image editor (crop) to no avail:

Warning: The selected image is smaller than the required size!
Width should be at least: 740px
Selected image width: 557px

But that is the size:
http://osgeo.getinteractive.nl/wp-admin/upload.php?item=3096
File name: grassgis_only_vector_font_white_middle-1.png
File type: image/png
Uploaded on: Aug

[2017-08-30 06:47] jodygarnett opened #86 "choose > publish > data has empty gaps in project listing"
See attached:

![publish-data-listing](https://user-images.githubusercontent.com/629681/29858903-729d26b2-8d14-11e7-82bf-9b994d2574b6.png)

[2017-08-30 06:52] jodygarnett opened #87 "Projects Listing sort order: OSGeo Project > OSGeo Community > Other"
Projects listing sort order.

Carry on from https://github.com/OSGeo/osgeo/issues/68

[2017-08-30 07:10] jodygarnett opened #88 "Choose a project tag system not working to reduce search space"
The tags are currently additive listing too much information, rather than restricting the search set to assist people find what is needed.

As an example the Publish > Catalog page lists the following tags:

[code]

However all tags for `publish` are listed showing unrelated tags such as `publish -document`, `publish -service` and `publish -data`

[2017-08-30 07:11] jodygarnett commented on #19
See also https://github.com/OSGeo/osgeo/issues/88

[2017-08-30 08:22] jodygarnett commented on #84
You are okay @neteler - remember we made this content to test out the design. This bug report is for the vendor get interactive to work on. I was testing the website and reporting issues for tomorrows meeting.

[2017-08-30 08:23] jodygarnett commented on #85
Not yet, hence the bug report. Perhaps we will get a template fix, or perhaps a logo size guide.

[2017-08-30 14:26] jodygarnett commented on #87
We have some other requests:
- We have a request to sort by popularity (github starts from the QGIS team)
- Sort by numbers contributors (from the science team)
- Looking for an objective way to sort.

From meeting:
- Group By project type (OSGeo Project > OSGeo Community > Other)
- Alphabetical

[2017-08-31 21:23] jodygarnett commented on #80
This works for me, is it resolved for you? (Please note that not all browsers can render each PDF in frame, what browser are you using?)

[2017-08-31 21:24] #80 closed

[2017-08-31 21:27] jodygarnett commented on #71
@Schpidi full URL is kind of nice though for people who do not know what IRC is yet they can click and see a live web chat? Is there a good URL you would recommend?

[2017-09-01 13:18] svandenhaak commented on #85
This issue has been fixed (template fix).

@neteler the image has a width of 557px, and a height of 750px, which is why you received the warning about the image being smaller than required.

[2017-09-01 13:20] svandenhaak commented on #86
This issue has been fixed. The container has a fixed size now, and the image is no longer stretched.

[2017-09-04 07:52] smithkm commented on #71
Not all IRC is Freenode and was thinking in terms of the social media links for the projects more than the users.  So full URL would make sense so we can support both links to channels (irc://freenode.net/%23project) and users (irc://freenode.net/username,isnick)

[2017-09-04 07:55] Schpidi commented on #71
fair enough, what about using freenode as the default with the option to provide a custom one?

[2017-09-04 12:40] svandenhaak commented on #84
This issue has been fixed, using the first solution (_Use Primary to determine location of an OSGeo project in the mega menu_).

[2017-09-04 12:52] svandenhaak commented on #40
Hi Jody, is this still an issue? There have been some changes to the crop function in between now, and when this issue was first reported. I've just tried to reproduce the issue, but it seems to be working fine now. If it's working correctly for you as well, this ticket can be closed.

[2017-09-04 14:44] MarvinGI commented on #83
The content wasn't filled the right way. It contained div tags which aren't suppose to be there. I assume the content was copypasted in. I removed the tags that weren't suppose to be there, and now it seems to work as intended.

[2017-09-04 14:55] jsanz commented on #83
Oh, my bad, thanks @MarvinGI !!

[2017-09-04 14:55] #83 closed

[2017-09-05 07:39] #86 closed

[2017-09-05 07:39] #85 closed

[2017-09-05 07:40] #84 closed

[2017-09-05 08:01] MarvinGI commented on #72
@klassenjs could you elaborate on what you mean by common image size?

[2017-09-05 09:09] MarvinGI commented on #88
We don't understand the issue, could you elaborate?

[2017-09-05 09:18] MarvinGI commented on #79
@stevenfeldman Local chapters can add their web address in a call to action button in the header.

Example: http://osgeo.getinteractive.nl/local-chapters/osgeouk/

[2017-09-05 09:24] stevenfeldman commented on #79
Thanks @MarvinGI it was me who set that up for OSGeo:UK!

Just checking that is the way we want local chapters to link to their web sites or whether it should be a field within the contact info?

[2017-09-05 09:34] MarvinGI commented on #63
Could you provide us the url of the form?

[2017-09-05 09:37] MarvinGI commented on #62
We don't understand the issue. Can you provide us with more information?

[2017-09-05 09:37] MarvinGI commented on #61
We don't understand the issue. Can you provide us with more information?

[2017-09-05 09:41] MarvinGI commented on #60
We checked and the homepage and GeoForAll page already have a different background image. This has probably been changed after you submitted the issue. Could you check if it is okay now?

[2017-09-05 09:56] MarvinGI commented on #48
It was submitted in the Google Spreadsheet as GeoForAll lab.

[2017-09-05 10:24] MarvinGI commented on #9
I believe we have everything that was commented here covered now. Could you please confirm this?

[2017-09-05 12:10] MarvinGI commented on #77
Title now shows the name of the entity it is related to.

[2017-09-05 12:39] MarvinGI commented on #81
We now have added the share this buttons.

[2017-09-05 13:34] jj0hns0n commented on #48
I believe this one was hidden and added to the discussion about Labs vs NGO
vs Partner vs Service Provider vs other organizations that dont exactly fit
neatly into one category or another.

On Tue, Sep 5, 2017 at 2:56 AM, Marvin <notifications@github.com> wrote:

[2017-09-05 18:54] jodygarnett commented on #40
If it is working fine for you please close, we can always reopen if the problem is reproducible with a specific image.

[2017-09-05 19:38] jodygarnett commented on #88
I have gone over this a couple of times in the weekly meetings, let me use an example.

Let's start with the **Topics** list from https://github.com/OSGeo/osgeo/issues/19

[code]

This represents your search space, https://github.com/OSGeo/osgeo/issues/19 solves this problem by making a unique tag for each leaf in the above tree.

This issue represents the original approach using tags and multiple

[2017-09-05 20:09] astroidex commented on #80
sorry for the late answer. works fine now.

[2017-09-05 20:55] jodygarnett commented on #81
Not sure I see it yet?

[2017-09-06 02:05] jodygarnett commented on #9
@lucadelu we should power through this list prior to tomorrows meeting!

Using the following pages as a references (since you did not provide links):

* http://osgeo.getinteractive.nl/projects/qgis/
* http://osgeo.getinteractive.nl/projects/geonode/
* http://osgeo.getinteractive.nl/local-chapters/cugos/

And turning the initial project bug report into a checklist.

[2017-09-06 02:11] jodygarnett commented on #9
@lucadelu for "less space between core activities title and specs" - what specific sections are you referencing to here?

I assume a project page because "specs", but the other things title and core activities do not match elements on the project page.

- Do you mean "Core features", "Implemented Standards" and "About GeoNode" / "About QGIS" headings?
- Do you mean within the "About" section the s

[2017-09-06 02:13] jodygarnett commented on #9
@lucadelu for "the header is big, maybe reduce a little bit the fond or the top-bottom pagging/margin".

I think this is intentional to avoid making the content feel crowded. There are some consequences to this - projects will need to be succinct with only one or two sentences for the header. Going to mark this as "done", you can reopen a more specific issue if you have a clarification to provide.

[2017-09-06 02:23] jodygarnett commented on #9
@lucadelu for the following two requests  "in the communication tab is it possible to add RSS feeds and IRC channel" and "in the social icon is it possible to add flickr, github, too? (maybe also others)".

These two seem to be mixing up communication and resources, can you consider and reply to the following?
- Communication are you okay with a mix of social media (two way communication) and publ

[2017-09-06 02:27] jodygarnett commented on #71
From #9 and resulting discussion we have the following:

* RSS
* IRC
* Flickr
* GitHub
* Jira
* StackExchage (https://stackoverflow.com and https://gis.stackexchange.com )

I am not sure of the line between communication channels and developer resources. I think I would draw the line at intended audience, reserving communication for user facing communication.

[2017-09-06 02:58] jodygarnett commented on #87
This is really not an enhancement it has been a requirement to list OSGeo Project > Community Projects > Other from the git go. This bug report stems from the functionality not being implemented yet.

[2017-09-06 03:14] jodygarnett commented on #76
This is not an enhancement -  support local chapters with multiple regions is a long standing requirement (part of the description of what a local chapter is).

Please see the following examples:
- http://osgeo.getinteractive.nl/local-chapters/osgeo-spanish-language/
- http://osgeo.getinteractive.nl/local-chapters/osgeo-fr/

[2017-09-06 03:22] jodygarnett commented on #9
From https://github.com/OSGeo/osgeo/issues/74 we have a request for a resource link:

* Security Issue (distinct from normal issue tracker)

[2017-09-06 04:10] jodygarnett commented on #52
I manually ported the content over so we would have something:
- http://osgeo.getinteractive.nl/about/committees/incubation/

This was marked in the site map for migration, not sure how migration is going.

[2017-09-06 04:11] jodygarnett commented on #55
Example page is here: http://osgeo.getinteractive.nl/about/committees/incubation/

Manually ported from old website, did not wait for migration.

[2017-09-06 05:41] jodygarnett commented on #26
@wenzeslaus do you have more information here - which screen shots are you referencing?

The google form used for initial resource creation may of used an early copy of the website for a screenshot, the website is gradually being revised during the beta process.

[2017-09-06 05:43] jodygarnett commented on #15
This is a content reqest, marking as "help wanted" since I cannot manage to make custom labels.

[2017-09-06 07:34] jeffreylasut commented on #47
@jj0hns0n @jodygarnett I can't find Birds eye view anymore, it's not in service providers and not in GeoForAll Labs.
Did one of you moved this page already?

[2017-09-06 08:30] jeffreylasut commented on #88
@jodygarnett @MarvinGI Sorry guys during Foss4g I already did some work for this.

@MarvinGI I pushed the changes to template-project-wizard-results.php, it still needs some testing.

@jodygarnett The Data example is confusing me a bit:
Data                      publish+service+raster; publish+service+vector
At Foss4g we created this example:
it + (web|desktop|mobile)
Can I translate the data exam

[2017-09-06 08:56] Tintrin commented on #13
You get inconsistency with different browsers. Not really a way to avoid that. But the main difference within the pages are the arrows (branding elements - footer and hero image) now. This occurs with compressing to .jpg or .png. We will change this to .svg where we can adjust the colours with code.

[2017-09-06 08:58] Tintrin commented on #13
You get inconsistency with different browsers. Not really a way to avoid that. But the main difference within the pages are the arrows (branding elements - footer and hero image) now. This occurs with compressing to .jpg or .png. We will change this to .svg where we can adjust the colours with code.

[2017-09-06 08:59] Tintrin commented on #13
You get inconsistency with different browsers. Not really a way to avoid that. But the main difference within the pages are the arrows (branding elements - footer and hero image) now. This occurs with compressing to .jpg or .png. We will change this to .svg where we can adjust the colours with code.

[2017-09-06 12:29] MarvinGI commented on #81
It should look like this:

![screenshot from 2017-09-06 14-27-13](https://user-images.githubusercontent.com/22152296/30111833-84a207aa-930f-11e7-90c5-a4a95b4b8b70.png)

Maybe you are viewing a old cached version. You can try emptying the cache or visiting the page in incognito.

[2017-09-06 12:48] cvvergara commented on #15
@jodygarnett
We, the current mentors & GSoC admins, are working on the poster

[2017-09-06 13:06] svandenhaak commented on #68
Projects are now ordered by project type. The initial landing page only shows OSGeo projects.

[2017-09-06 13:15] #77 closed

[2017-09-06 13:15] #68 closed

[2017-09-06 13:24] MarvinGI opened #91 "Requests for project listing sort order"
Requests from #87:
- We have a request to sort by popularity (github starts from the QGIS team)
- Sort by numbers contributors (from the science team)
- Looking for an objective way to sort.

[2017-09-06 13:29] MarvinGI commented on #87
We have added the group by project type and alphabetical order to project. We have moved the requests to an other issue: #91

[2017-09-06 13:30] #40 closed

[2017-09-06 13:36] jodygarnett commented on #68
thanks!

[2017-09-06 13:37] jodygarnett commented on #87
Thanks, and yes #91 is an enhancement (that I am not sure we will act on)

[2017-09-06 13:38] jodygarnett commented on #55
To close this one out @jeffreylasut the text of the committees page provides links to subcomittees rather than cards.

[2017-09-06 13:39] svandenhaak commented on #64
This issue has been fixed.

[2017-09-06 13:40] #64 closed

[2017-09-06 14:06] svandenhaak commented on #40
I did indeed try it with the page and image mentioned above.

[2017-09-06 14:30] jodygarnett commented on #57
Please add each journal as a resource, and then cross link for an appropriate page.

[2017-09-06 14:32] jodygarnett commented on #73
Still needs to be checked, can verify by editing the images on the above two pages and seeing if duplicates are created.

[2017-09-06 14:56] jodygarnett commented on #88
We have reduced this to only use and statements.

*This involves the creation of a Level 2 "client" and "data" tag which we will need to apply
* We now publish

[2017-09-06 14:57] jodygarnett commented on #88
Note Leve 2 - is repersented as "Level 2" and "Development" - do you want to combine those?

[2017-09-06 15:01] MarvinGI commented on #87
I overlooked that one. I added the sorting now, so it should show the right order.

[2017-09-06 15:03] jodygarnett commented on #55
Can we take this up again?

[2017-09-06 15:18] kalxas commented on #68
thank you

[2017-09-06 15:31] jeffreylasut commented on #50
@svandenhaak please turn off the plugin.

[2017-09-06 15:37] jodygarnett commented on #15
Changed to content (thanks @jeffreylasut for figuring out labels).

@cvvergara you should be able to make a GSOC initiative page when the website goes live.

[2017-09-06 15:40] MarvinGI commented on #67
We have added a max amount of characters for the title, and added a class to hide the description on smaller viewports.

[2017-09-06 15:40] #67 closed

[2017-09-06 16:21] jodygarnett commented on #76
@jeffreylasut during the code sprint we discussed using a lit of country codes, if we can map that result. Do we have any other ideas in the mix?

We may have to wait until map is integrated before figuring out what is available.

[2017-09-06 18:46] jodygarnett commented on #47
I can see it in the GeoForAll Labs "trash" category - consisting of "Bird's Eye View" and "Get Interactive" entries.

Not sure, I note that there may be some confusion around this stuff still:
- http://osgeo.getinteractive.nl/geo-for-all-labs/comunidad-gvsig-uruguay/

[2017-09-06 18:46] #47 closed

[2017-09-06 19:09] jodygarnett opened #92 "Migrate Development tags to Level 2"
The choose a project guided search is broken up into:

* Level 1
* Level 2 & Development

To reduce confusion this issue requests we combine Level 2 and Development tags:

* [ ] moving "browser", "tools", "library", "mobile" to Level 2

Looking at this further shows projects inconsistently using the Development category (to identify programming libraries by development language). The Development c

[2017-09-07 13:41] jsanz opened #93 "Can't login into new website"
Trying to log in into the new website redirects to a `403 Forbidden` page.

![2017-09-07_15 40 40-selection](https://user-images.githubusercontent.com/188264/30166216-ef720f8e-93e2-11e7-940d-f690437a9103.png)

Tried both in Chrome and Firefox and also using incognito mode.

[2017-09-07 14:41] svandenhaak commented on #88
Replaced the 'or' statement with an 'and' statement, so only projects which have all the required tags are shown.

[2017-09-07 15:01] svandenhaak commented on #50
There are a couple of Yoast functions we make use of; the breadcrumbs, and the ability to select a primary tag/category (which is used to determine a project's position in the mega menu). Turning the plugin off would disable those functions, so I'll leave the plugin on for now.

[2017-09-07 21:13] jodygarnett commented on #88
Thanks, that and migrating tags should do the trick, can we hold this ticket open until the pages work.

[2017-09-07 22:02] jodygarnett commented on #92
introduced level 2 entries as described

[2017-09-08 01:25] jodygarnett commented on #93
That is correct, the restriction was lifted during the code sprint to get enough content for the beta.

To login to the website we need some progress on the SAC ticket for integration with the LDAP so everyone can login with their "OSGeo ID".

See https://trac.osgeo.org/osgeo/ticket/1926

[2017-09-08 09:17] #87 closed

[2017-09-08 09:19] jeffreylasut commented on #88
@jodygarnett This is tested by us and should work now, that's why I closed this ticket.

[2017-09-08 09:19] #13 closed

[2017-09-08 09:25] #81 closed

[2017-09-08 09:35] jeffreylasut commented on #49
We configured the Yoast plugin to give OSGeo logo as default, but you can configure each page to have a different image.

[2017-09-08 09:35] #49 closed

[2017-09-08 11:51] svandenhaak commented on #50
The Yoast plugin should now provide an accurate analysis.

[2017-09-08 12:24] #50 closed

[2017-09-08 14:51] jsanz commented on #93
OK, I'll wait then.

Should we keep this issue open for anyone to see? I'm OK with closing it also.

[2017-09-08 15:30] cvvergara commented on #93
I like it open, because of this issue I didn't say anything about me not being able to log in

[2017-09-08 15:57] jodygarnett commented on #93
Agreed we can leave it open until the SAC issue is closed and we can *all* login :)

[2017-09-08 15:57] jodygarnett commented on #92
I have mostly done this and it appears I can edit the choose-a-project pages as appropriate.

[2017-09-08 16:02] jodygarnett commented on #63
It is the form in the google drive data collection folder:

* [GeoForAll Lab](https://docs.google.com/forms/d/1F1Tmffcs6AC0TvYA-6DirsRwGlfPYZSoDQTsz0yOGHg/edit)

[2017-09-08 16:06] jodygarnett commented on #78
@jj0hns0n should we mark this as enhancement for future editions of the site, or is having a contact form part of the scope of work.

[2017-09-08 16:16] jodygarnett commented on #48
I am sure we can list them as a partner / friend until we find a better spot.

[2017-09-08 16:21] jodygarnett commented on #45
Do you have any details @jj0hns0n - not working on what page?

[2017-09-08 16:22] jodygarnett commented on #44
For a while search only did during autocomplete, and then showed nothing when return was entered.

@jj0hns0n do you have details on which page was not working so we can reproduce?

[2017-09-08 16:27] jodygarnett commented on #43
Marking this as content as we have the skills to do so. @stevenfeldman for the geoserver code sprint I provided the step by step instructions for using paypal to donate to a specific project or activity.  Would you like the donate button to go to such a page, or direct to paypal.

I am also wondering where such a button could go on the page without loosing focus (it literally on the subject of how

[2017-09-08 16:32] jodygarnett commented on #41
True this; not sure it is a priority until KDE projects are marked as such.

[2017-09-08 16:33] jodygarnett commented on #39
See similar issue https://github.com/OSGeo/osgeo/issues/79

[2017-09-08 16:35] jodygarnett commented on #26
I assume the screen shot may of been on the google data collection form:

* [Resource (Form)](https://docs.google.com/forms/d/13NGPlluDMOh9GwBF6fz4zMDNkBSPiOgzFzrSu_1Wph8/edit)

[2017-09-08 16:39] jodygarnett commented on #22
See also #76

[2017-09-08 16:40] jodygarnett commented on #17
Good point, any suggestions on how to surface that? Would you expect it to be listed on the project page for example ...

If not search is a good way to locate grass resources.

[2017-09-08 16:43] jodygarnett commented on #14
@milenanv can you update your bug report with the appropriate icons.

[2017-09-08 16:54] jodygarnett commented on #7
@jeffreylasut I am still confused how to sort service providers; ideally we would like sort core contributors > contributor > other based on this relationship.

[2017-09-08 16:57] jodygarnett commented on #10
@jeffreylasut what can we do with this feedback to handle efficiently. Should we break up into individual tickets or can we knock some of this stuff.

[2017-09-08 17:00] jodygarnett commented on #8
Can this be closed now?

[2017-09-09 00:00] jodygarnett opened #94 "Partner listing page and presentation of Partner cards incomplete"
I am going ahead and filling in the partner pages, despite the presentation being incomplete with respect to the visual design.

* http://osgeo.getinteractive.nl/partners/

Given we are late in the process I am reporting this as an issue for @jeffreylasut to schedule.

* [x] listing page introduction leaves room for graphic that is not there

<img width="1203" alt="partners-intro" src="https://use

[2017-09-09 00:07] jodygarnett commented on #94
For reference the wireframe design for the partners / friends page is here:

* [About_partners_desktophd_v9](https://invis.io/ZCBA3XH54#/237925202_004d_About_partners_desktophd_v9)

[2017-09-09 00:27] jodygarnett opened #95 "Partner page presentation incomplete #94"
I am going ahead and filling in the partner pages, despite the presentation being incomplete with respect to the visual design.

Content examples:

* [x] http://osgeo.getinteractive.nl/partners/ica/
* [x] http://osgeo.getinteractive.nl/partners/isprs/
* [x] http://osgeo.getinteractive.nl/partners/locationtech/
* [x] http://osgeo.getinteractive.nl/partners/ogc/ - example with multiple ways of handl

[2017-09-09 00:33] jodygarnett commented on #95
For reference:

* [About_partners_desktophd_v9](https://invis.io/ZCBA3XH54#/237925201_004e_About_partners_desktophd_v9)

Prior visual design mockups not available for reference.

[2017-09-10 13:48] astroidex opened #96 "osgeo a4 and osgeo letter content of flyer does not match"
Content of the osgeo flyer versions a4 and letter does not match - different content. Looks like letter is newer and should be transfered to the a4 version.
* https://github.com/OSGeo/osgeo/blob/master/marketing/print/osgeo_letter.pdf
* https://github.com/OSGeo/osgeo/blob/master/marketing/print/osgeo_a4.svg

[2017-09-10 23:10] strk commented on #8
Sure, but I don't have the privileges to do so.

[2017-09-11 18:46] jodygarnett commented on #8
Okay the find us section is at the bottom of each page, if osgeo has a presence on any additional networks can you let us know?

Let's connect:

- http://osgeo.getinteractive.nl

You can also consider the project specific pages:
- http://osgeo.getinteractive.nl/projects/geonode/

We would need an example of a project that is using one of these social networks you listed.

[2017-09-18 15:20] astroidex opened #98 "create link to other webside for an event via Call-2-actions does not work anymore"
* somehow for events it does not work to create an external link via Call-2-actions

* it worked for the page (created some weeks ago) http://osgeo.getinteractive.nl/events/intergeo-2017/

* it does not work for the page http://osgeo.getinteractive.nl/events/osgeo-code-sprint-2018/
-> Problem I only can add links to the internal pages

[2017-09-18 15:25] astroidex opened #99 "event does not show photo"
* http://osgeo.getinteractive.nl/events/osgeo-code-sprint-2018/
* I added a photo (it says: This photo is placed underneath the header as a large photo.)
* But it is not shown

[2017-09-19 19:02] jodygarnett opened #100 "Use of "Similar Proprietary Products" field"
Feedback from email:

Content issue:

* [x] change the link to wikipedia entry, short-term "fix" (mailing list was still unhappy with this change)
* [x] leave it up to individual project teams if they wish to make use of the field

Action for getinteractive:

* [x] change "Similar Proprietary Products" to "Migrate From"
* [x] remove the ability to link
* [x] #108 provide a footer field to make a d

[2017-09-19 19:03] jodygarnett commented on #100
The links, at least when I made them, point to the wikpedia entry on the product.

I am tempted to change this heading to say **Migrate from**.

[2017-09-19 21:32] neteler commented on #100
@jodygarnett This was my private email, btw... I didn't intend to post it here.

[2017-09-20 04:44] jodygarnett commented on #100
I see, I was sent the email and asked to report it as an issue. I have revised the description, hopefully capturing your original bug report.

Your feedback is totally on point, how can we better communicate what this is for? The original google form had a link to wikipedia as the example...

[2017-09-20 06:43] venka-osgeo commented on #100
I think how our software compares with Proprietary Products is not an information to be provided on the OSGeo website. It can be shown on individual project pages as and where the PSC feels necessary. Our software is good because they are and not because they compare well with "Similar Proprietary Products", I think. I feel that the item "Similar Proprietary Products" could be removed.

[2017-09-20 07:17] hellik commented on #100
I support and concur with Venka that the item "Similar Proprietary Products" should be removed. There isn't only one proprietary GIS software out there, there are several others. IMHO such comparisons may be part of e.g. a reviewed scientific paper/elaboration, where our OSGeo projects - if they want to - may link to. I see no added value for OSGeo to serve such links. As already elsewhere mention

[2017-09-20 09:37] MarvinGI commented on #99
Fixed this. The photo is now shown on the event page.

[2017-09-20 09:37] #99 closed

[2017-09-20 09:44] MarvinGI commented on #98
It works for me. I added a test button to http://osgeo.getinteractive.nl/events/osgeo-code-sprint-2018/

Could you check if it still doesn't work for you?

[2017-09-20 12:35] jodygarnett commented on #100
I have done outreach at "normal" GIS conferences and this is the top question, how can I migrate from XXXX. Personally I answer that "I have not had the opportunity to use XXXX, what do you use it for? There are lots of open source options".

On a related note I need a hand writing the "what is open source" and "migrate to open source" pages.

Please keep in mind that this website is not for us wh

[2017-09-20 13:07] jodygarnett commented on #100
While I fixed the link, I am going to leave bug report open as the discussion is valuable. Marking this as *content* rather than a *bug* as we are using the ticket to discuss content provided by osgeo members rather than an issue with the website as implemented.

[2017-09-20 13:35] svandenhaak commented on #95
The partner archive/overview and single pages have been updated, to make sure they have the same style as the other pages (such as resources, and members).

[2017-09-20 13:48] strk commented on #100
I also think there should be no mention of proprietary software, not there.

While I understand the idea of "calling" people out of proprietary software I think doing so on the free software page is too late, because at that time they can already tell what the free software does.
It would work better something that only accepts proprietary software names as input from the user and only outputs fre

[2017-09-20 14:11] Tintrin commented on #95
https://invis.io/ZCBA3XH54#/237925201_004e_About_partners_desktophd_v9

[2017-09-20 14:54] jodygarnett commented on #94
Thanks, the listing the partner website (similar to projects and other cards ) woudl be good

[2017-09-20 15:03] jodygarnett opened #101 "Project "view all service providers" link does not filter by project"
This is a follow on to https://github.com/OSGeo/osgeo/issues/7 which first introduced this issue.

For example on this page: http://osgeo.getinteractive.nl/projects/geoserver/

The view all service providers link should display the Service Providers web page
- filtered by project (ie only showing geoserver service providers)
- sorted by core contributors > experienced providers > other

The result

[2017-09-20 15:16] kalxas commented on #100
I also agree that we should not mention proprietary software in our site.

[2017-09-20 15:30] jodygarnett commented on #100
This is obviously a touchy subject for the OSGeo community; I am really not sure how to respond folks.

* I am concerned this response is based on the feeling we are somehow promoting proprietary software; instead of competing with it.

* If we do not provide a tool to help people migrate away from proprietary software we are not doing our job of promoting open source. This website, and these page

[2017-09-20 15:41] cvvergara commented on #100
Suppose I have proprietary software, as such, I always pay for promoting my software.
I feel great when I get free promotion!!!

[2017-09-20 16:34] jodygarnett commented on #100
I am not sure how to interpret your statement; I take it you view this as advertising and are critical. I would be critical if we were advertising; indeed this is why we revised our sponsors guidelines to prevent abuse earlier in the year.

@cvvergara our focus is on providing good service to visitors, helping them migrate to open source. In this case mentioning "Migrate From: ArcMap" does not mea

[2017-09-20 16:38] jodygarnett opened #102 "Outreach "what is open source" and "migrate to open source" pages"
Our placeholder pages for outreach are going to need a consistent, succient story.

* [ ] what is open source - A3 brochure provides good starting point
* [ ] migrate to open source - #100 discussion indicates this will be a tough page to write

Some of these links used to be on the home page and were removed during the code sprint, we should double check what our message is and provide appropriat

[2017-09-20 17:03] jodygarnett commented on #102
Collecting examples of how to write about migration:

- I really liked the https://www.nginx.com/faqs/ presentation of "Can NGINX replace ..."

[2017-09-22 11:41] svandenhaak commented on #25
The first issue has been solved, member type now uses checkboxes instead of radio buttons.
I'm not sure I understand what you mean with the second issue, could you please elaborate?

[2017-09-22 14:39] jodygarnett commented on #25
The second checkbox was an idea on how we could make this easier; the **member type** tried to list what activities a person was involved in. The other way to do so is with cross links, so if they are on a committee they are cross linked to the committee page.

Actually we can see how this works - it is how projects are handled now.

In the following screen snap:

* Member Type and Select Member T

[2017-09-22 14:42] jodygarnett commented on #14
@milenanv without appropriate list of roles we have not developed the icons and this issue is not being worked on.

[2017-10-02 09:31] jeffreylasut opened #103 "Add date to news and community news list"
http://osgeo.getinteractive.nl/community-news/
http://osgeo.getinteractive.nl/foundation-news/

[2017-10-02 09:51] jeffreylasut opened #104 "Associate foundation news item with local chapter, project, etc."
Add a way to associate a foundation news item with the following types:
- Local chapter
- Project
- Service provider

[2017-10-02 09:55] jeffreylasut commented on #104
Related to this ticket:
Events and Geo for All News should only show associated items:
http://osgeo.getinteractive.nl/initiatives/geo-for-all/

[2017-10-02 10:00] jeffreylasut opened #105 "Tiles server performance for map viewer"
Because of poor performance of the tiles server the map viewer won't show a complete map.

[2017-10-02 11:41] jeffreylasut opened #106 "Remove atomic settings page and make atomic groups inactive"
Remove this settings page:
http://osgeo.getinteractive.nl/wp-admin/options-general.php?page=acf-options-atomic

All the atomic ACF groups should be inactive.

[2017-10-02 13:00] timlinux commented on #100
@jodygarnett Personally I agree with your thoughts that providing context for prospective users in the form of what similar software a given project compares to is a useful way for people to identify suitable packages. But given the lack of uniform opinion on this, I suggest just remove the field - not having it wont be a huge loss I guess.

[2017-10-02 13:02] timlinux opened #107 "Cannot log in"
I wanted to update the QGIS profile but I get a 403 when clicking on the login link:

http://osgeo.getinteractive.nl/wp-login.php?redirect_to=http%3A%2F%2Fosgeo.getinteractive.nl%2Fwp-admin%2F&reauth=1

<img width="256" alt="screen shot 2017-10-02 at 15 01 52" src="https://user-images.githubusercontent.com/178003/31078495-ad34254a-a782-11e7-9f67-533fb3b5839c.png">

[2017-10-02 13:13] neteler commented on #107
Jeffrey told me that it is temporarily disabled but I don't know when it will be reopened.

[2017-10-02 13:36] hellik commented on #100
@timlinux: citing my comment: "IMHO such comparisons may be part of e.g. a reviewed scientific paper/elaboration, where our OSGeo projects - if they want to - may link to."

In my experience, comparison of software/preparing context is more complex than on a first view it seems to be. Showing nice use case examples of raster-/vector-analysis and map production and example workflows are more helpfu

[2017-10-02 14:59] #23 closed

[2017-10-02 15:18] #103 closed

[2017-10-02 20:12] jodygarnett commented on #100
Thanks @timlinux and @hellik - given that we do not control this template (since the website is being produced under contract) how to you feel about:

* [ ] leave it up to individual project teams if they wish to make use of the field
* [ ] change the field to "Migrate From"
* [ ] remove the ability to link
* [ ] provide a footer field to make a disclaimer about any registered trademarks (we need

[2017-10-02 20:14] jodygarnett commented on #100
@hellik providing comparisons is a great idea, to focus on the website these should be captured as "resources", and indeed these project pages may then link to them (either as resources or as part of the main description text).

[2017-10-02 20:22] jodygarnett opened #108 "Footer field for references and registered trademark disclaimers"
The discussion around #100 has brought to our attention that use of product names ideally provide a disclaimer:

Non OSGeo product names are used:

- When describing compatibility and interoperability (for example support GDAL formats)
- Project descriptions "migrate from" field, if used
- Discussions of Interoperability, Hybrid Architectures and Migration

Action:

* [x] provide a footer field to

[2017-10-02 21:00] strk commented on #100
On Mon, Oct 02, 2017 at 01:12:48PM -0700, Jody Garnett wrote:

What do you mean we do not have control of the template ?
The website is completed, right ? Once we have the content
we can change everything, can't we ?

[2017-10-02 21:28] jodygarnett commented on #100
@strk website is not complete, these issues are being reported against contract.

Things marked "enhancement" may be the subject of negotiation, things marked content we can edit (once SAC gets hosting sorted out).

You are correct that once the website is delivered we can make more detailed changes, but I would like to sort out what we can while we have get interactive available to do the work.

[2017-10-03 00:04] jodygarnett commented on #107
This is a dup of #93 - basically we are stuck until SAC figures out a hosting solution.

[2017-10-03 00:05] jodygarnett commented on #107
This is a dup of #93, we are waiting on SAC to figure out hosting see https://trac.osgeo.org/osgeo/ticket/1926

[2017-10-03 09:19] strk commented on #100
I think keeping a "better replacement for proprietary product" is fine
to have in the form, as long as we don't advertise that product upon
display (using metadata keywords or link-less mentions...)

[2017-10-03 18:12] jodygarnett opened #109 "styleguide page 19 "png missing" for cartography example"
The [style guide](https://github.com/OSGeo/osgeo/blob/master/marketing/branding/styleguide-osgeo.pdf) Page 19 shows the following:

![png-missing](https://user-images.githubusercontent.com/629681/31141231-a56d1d4a-a82b-11e7-8f82-b8ec7eabf8d8.png)

[2017-10-03 18:14] jodygarnett commented on #109
This is the only open issue against "Component 1 - Branding and Online Style Guide".

[2017-10-03 18:14] jj0hns0n commented on #109
@petersongis can you help out?

[2017-10-03 18:24] jj0hns0n commented on #109
![lowzoom2](https://user-images.githubusercontent.com/506078/31141869-73b0a93c-a82d-11e7-8904-f466e9c9e861.PNG)

[2017-10-03 18:28] jodygarnett commented on #109
Thanks, I think Pim was asking for a stupidly hi-rez version (captured on an hidef display or something) so the result could be more print-ready.

[2017-10-03 18:31] PetersonGIS commented on #109
I think this map is kind of ugly (full fault on me). I am working on a less ugly one and can submit as high-res.

[2017-10-03 18:35] jodygarnett commented on #109
Understood @PetersonGIS, it is always nerve wracking providing an example to others. I hope we see the maps live on the site soon; and if we know where the styles are posted we can provide a link to "the latest" as part of this style guide (so you can relax a bit more).

While this PDF will be pretty the intention is to migrate to the website.

[2017-10-03 19:26] PetersonGIS commented on #109
Ok. If you'd like, you can use this map instead (There's a 96 dpi and 300 dpi version). We will need to change the text that goes with the map.

![world_map_high_res](https://user-images.githubusercontent.com/5266205/31144537-514e81dc-a83e-11e7-96a4-db237ffd234e.png)
![world_map_low_res](https://user-images.githubusercontent.com/5266205/31144539-5155c276-a83e-11e7-9ad7-3d58878eb84b.png)

[2017-10-03 20:39] bufferclip commented on #109
I like the design a lot :-)  Thanks for the map!!

Just some thoughts (**no** strong opinion at all)
* some countries are not labeled (labeling all countries is probably not possible due to the size of the map)
* we could remove the countries completely and label only the continents instead. This would make the map cleaner and would moreover show that we want to "overcome boundaries" ...

[2017-10-03 21:05] PetersonGIS commented on #109
Fair points. How about these?
![world_map_high_res_alt1](https://user-images.githubusercontent.com/5266205/31149194-56e17c90-a84c-11e7-929d-997a5f101fbe.png)
![world_map_low_res_alt1](https://user-images.githubusercontent.com/5266205/31149195-56f086ea-a84c-11e7-91e5-1905cdc89b45.png)

[2017-10-03 21:15] bufferclip commented on #109
Yes, I like it more. Thanks for changing it :-)

[2017-10-04 04:45] jodygarnett opened #110 "styleguide review and feedback"
The marketing committee reviewed:

* https://github.com/OSGeo/osgeo/blob/master/marketing/branding/styleguide-osgeo.pdf

The following review was provided by Cameron Shorter via the marketing email list:

[2017-10-04 04:47] jodygarnett commented on #110
@jj0hns0n you had a volunteer lined up to convert the styleguide to html for the website? Do you want a seperate bug ticket for that?

[2017-10-04 08:04] Tintrin commented on #109
Thank you @PetersonGIS, I will add this to the syleguide.

[2017-10-04 12:03] jeffreylasut commented on #9
We fixed the items that are checked, the other items are still discussed by OSGeo.

[2017-10-04 12:03] #109 closed

[2017-10-04 12:16] svandenhaak commented on #106
The atomic ACF groups are now inactive, and the settings page has been removed.

[2017-10-04 12:17] #106 closed

[2017-10-04 12:44] svandenhaak commented on #25
Thank you for your explanation.

- Select member type has been removed (the reason it was still visible (and thus duplicate), was because it's still used in the backend).
- The project checkbox has been removed. Members can now be filtered by the projects they are associated with.
- The committee checkbox has been replaced with a list of committees. Members can now be filtered by the committees th

[2017-10-04 12:46] #25 closed

[2017-10-04 13:28] jodygarnett commented on #9
What discussion are you waiting on? I see the following unchecked items...

-  license should a list of selectable values

This is not a terrible request, if we handle it as we do standards (where people choose from and add to a list) the list of licenses can grow over time to reflect what licenses are sued.

- under license there is "Specs" but I cannot understand what they are

I am not sure I u

[2017-10-04 13:32] jodygarnett opened #111 "feedback on project template - license should a list of selectable values"
Breaking this out into a seperate bug report from https://github.com/OSGeo/osgeo/issues/9 "license should a list of selectable values".

OSGeo supports licenses that have been approved by the open source initiative (https://opensource.org) - rather than maintain our own list.

The actual list of licenses used is rather small, we could consider handling it as we do standards - choose from a list, o

[2017-10-04 13:37] jodygarnett opened #112 "project page feedback - what information is expected for "specs" ?"
Follow up to #9 - under license there is "Specs" but I cannot understand what they are

Looking at the original graphic design examples this is used to track the latest version and environment information.

http://osgeo.getinteractive.nl/projects/geonode/

We did not provide enough guidance or examples so the code-sprint has filled this in inconsistently:

http://osgeo.getinteractive.nl/projects/g

[2017-10-04 14:00] jj0hns0n opened #113 "Create HTML version of the style guide"
@nbozon was going to work on this.

[2017-10-04 14:00] jj0hns0n commented on #110
Done https://github.com/OSGeo/osgeo/issues/113

[2017-10-04 14:21] jodygarnett commented on #110
Thanks Cameron, we have gone over this feedback and Pim will revise for v8.

[2017-10-04 14:26] jodygarnett commented on #44
This is now resolved.

[2017-10-04 14:26] #44 closed

[2017-10-04 14:27] jodygarnett commented on #45
Going to close this as incomplete, @jeffreylasut and the team have tested all the pages. Please reopen a new bug report with link and steps to reproduce if this remains unresolved.

[2017-10-04 14:27] #45 closed

[2017-10-04 14:28] jeffreylasut opened #114 "Typo Searcg should be Search"
http://osgeo.getinteractive.nl/search/something

[2017-10-04 14:38] jodygarnett opened #115 "Alternate map for GeoForAll Labs"
The geoforall mailing list has provided this great visualization:

- http://kartoweb.itc.nl/D3tests/GeoForAllMap/

Is this suitable for use on for the geoforall website.

[2017-10-04 14:43] astroidex opened #116 "events should be ordered by date - newest first"
* when you visit the event page the events should be ordered by date. Newest first
* http://osgeo.getinteractive.nl/events/

[2017-10-04 14:49] astroidex commented on #98
Works fine now. Do not know why it did not work before. Thanks for your help.

[2017-10-04 14:49] #98 closed

[2017-10-04 14:54] jodygarnett opened #117 "news item share this icons missing on old news item in safari"
Checking:

- http://osgeo.getinteractive.nl/foundation-news/mapguide-open-source-1-1-0-released/

The share this icons are missing (using Safari 11.0 on macOS 10.13):

<img width="991" alt="share-this-missing" src="https://user-images.githubusercontent.com/629681/31182575-1aaa9aee-a8d9-11e7-9906-fa2cbb75b069.png">

[2017-10-04 15:13] jeffreylasut commented on #104
Add a way to associate a partner to news items and events.
http://osgeo.getinteractive.nl/partners/ogc/

[2017-10-04 15:29] jeffreylasut opened #118 "Site survey form not visible"
Please fix this to show the survey form.
http://osgeo.getinteractive.nl/site-survey-test/

[2017-10-04 15:51] jeffreylasut opened #119 "Send site survey email to all current WordPress users"
Ask Patrick to write email text with survey link.

[2017-10-05 02:18] jodygarnett opened #120 "Is osgeo sponsors on partner and geoforall lab pages confusing?"
We have standing space at the bottom of each page for OSGeo sponsors (which is fine it is our website after all).

There are several cases where it may be confusing to list osgeo sponsors, this ticket is a chance to discuss:

- [x] Listing sponsors or individual project pages: this has been replaced with appropriate service providers, see [qgis](http://osgeo.getinteractive.nl/projects/qgis/)
- [x]

[2017-10-06 00:12] jodygarnett commented on #120
I have asked the board and the geoforall lists for clarifications; I will report back any feedback.

My own take is that this section being removed for project pages (we had a better use for the space) and local chapters points out a visual design issue. I do however like the current appearance and would prefer to keep it unchanged (even if it means removing sponsors from the GeoForAll labs and Pa

[2017-10-06 09:23] kobben commented on #22
Still no solution that I see? Note that both in the OSGEO labs and the Local chapters Forms that people have been filling in, there was a location (lat/lon) field, so folks have been providing these and are assuming the correct location will show up in the end....
Aparat from that, ob request of Helena Mitasova, I have created an interactive map for the osgeo labs pages using D3. I send her and th

[2017-10-06 12:23] #114 closed

[2017-10-06 13:10] kobben commented on #22
..and because of my comment above ("Forms [had] a location (lat/lon) field, so folks have been providing these and are assuming the correct location will show up in the end"), I strongly object to the label having been changed from "bug" to "enhancement". It is most certainly a bug!

[2017-10-06 13:19] #101 closed

[2017-10-06 15:54] jodygarnett commented on #76
I have reports on email about use of lat, lon of forms (not sure if it is referencing the original google forms used for data collection)

[2017-10-06 15:56] jodygarnett commented on #22
I made a separate bug report for your map #115, it would be really helpful if you could attend one of these meetings and help steer the solution for representing location and how to embed maps.

[2017-10-06 15:59] jodygarnett commented on #115
The current map is very slow, so slow I thought it was broken.

[2017-10-06 18:48] jodygarnett commented on #22
@kobben can I ask if you mean the origional google form we used for data collection? At the time I was not sure if lat/lon would work, or if we needed a list of locations like local chapters.

I do not think we can assume that the correct location will show up at the end, I have started a discussion on the marketing email list where we can try once again to nail down this #76 requirement.

[2017-10-09 08:25] kobben commented on #22
Hi Jody,

Thanks for bringing me up to date on the OSGEO labs map status. I'd be happy to do both of the things you are suggesting, namely "attend one of these meetings" and (from your earlier email) "Barend and Pim, can you please talk to each other", but please do tell me what "these meeetings" are and who the elusive "Pim" might be ;-)

yours,
--
Barend Köbben

On 06/10/2017, 17:56, "Jody Garne

[2017-10-09 12:02] jeffreylasut commented on #108
Disclaimer field added to projects, example:
http://osgeo.getinteractive.nl/projects/geonode/

[2017-10-09 12:11] jeffreylasut commented on #100
Issues in related bug #108 are squashed.

[2017-10-09 12:54] #104 closed

[2017-10-09 13:42] #118 closed

[2017-10-09 15:03] Tintrin commented on #110
Added v8 to the Google Drive folder

[2017-10-10 05:12] jodygarnett commented on #22
Sure Barend,

Pim is the graphics designer responsible for the Look and Feel of the new website and the branding. He works for Get Interactive (ie the vendor we have hired for this activity). Jeffrey Laust is the project manager for Get Interactive.

Both Pim and Jeffrey attend a weekly meeting with the OSGeo Marketing committee reps (other groups like GeoForAll have volunteered a member to serve

[2017-10-10 05:19] jodygarnett commented on #120
Asking GeoForAll mailing list responded with:

Thanks!

[2017-10-10 05:22] jodygarnett opened #122 "GeoForAll related news shows all news, should be restricted to the individual lab"
From discusion of #120:

I think this we were just showing recent news to try out the layout, now that we are getting close to done can we restrict this to just news items related to the individual GeoForAll lab? (Same thing for open source projects, etc... )

[2017-10-10 07:27] kobben commented on #22
Hi Jody,

thanks for bringing me up-to-date and for the invite. Unfortunately, I had to decline, such short notice and a busy teaching schedule do not go well together ;-)

But feel free to put me on the list for a next meeting, or otherwise let Pim and Jeffrey get in touch with me, I'm always willing to help if and when possible...

yours,

--
Barend Köbben

On 10/10/2017, 07:12, "Jody Garnett" <

[2017-10-10 12:43] MarvinGI commented on #122
The Geo For All labs now only show related news. Relations for a news item can be managed in the Edit Foundation News screen.

[2017-10-10 14:12] jodygarnett commented on #122
Thanks, we will have to hunt down examples.

Do you need similar reports for projects, partners and other places where 'related news' appears?

[2017-10-10 14:21] jodygarnett commented on #122
I would like to verify, going to use the following as an example:
- http://osgeo.getinteractive.nl/geo-for-all-labs/university-colorado-denver/
- http://osgeo.getinteractive.nl/foundation-news/university-of-colorado-denvers-foss4g-lab/

So far I cannot get the related news section to change, it is still showing the generic news feed.

[2017-10-10 14:22] jodygarnett commented on #122
Q: Do we expect the news item to have a link to the related 'university of colorado' page?

[2017-10-10 14:35] MarvinGI commented on #122
My bad, I didn't pull the changes to the stage environment. Could you check again?

[2017-10-10 18:58] jodygarnett commented on #108
thanks, um could we make that much smaller - similar size to the website footer:

[2017-10-10 20:49] jodygarnett commented on #108
I am reopening this issue after revising the http://osgeo.getinteractive.nl/projects/geonode/ page above to make the following requests:

* [ ] remove the heading disclaimer, not all uses of a footer will be a disclaimer, the area may also be used to cite references as noted in the issue title
* [ ] reduce the font size and visual appearance in keeping with the size of the website footer (this inf

[2017-10-10 22:29] jodygarnett commented on #108
Feedback from marketing email list:

It is my hope that by reducing the size to that of a footer that we can avoid the need to reposition.

[2017-10-11 07:35] MarvinGI opened #123 "When coordinates from Google Maps are converted to OpenLayers they are incorrect"
We use this method to convert the coordinates we get from Google Maps to a format that is suitable for OpenLayers. But they seem to be incorrect.

[code]
For example: http://osgeo.getinteractive.nl/local-chapters/

When you check the map you'll see the markers that are supposed to be on Brussels are located far more south.

[2017-10-11 09:03] svandenhaak commented on #95
The issues above have been solved.

About the initiatives: the text field has been replaced with a repeater field, in which you can insert a label and URL. This seems more user friendly to us.

The content editor now has the same options as the content editor for projects.

[2017-10-11 13:20] jodygarnett commented on #95
I am trying the initiatives "repeater field" and I am not sure I get it, I would prefer to use an internal link to an initiatives page.

[2017-10-11 14:07] jodygarnett commented on #122
Thanks Marvin, that looks great.

I note that the news item, where we fill in the association does not display the association, making a seperate enhancement for that.

[2017-10-11 14:07] #122 closed

[2017-10-11 14:09] jodygarnett opened #124 "News items cross link to related lab, project, chapter, whatever"
As per #122 news items have an association to the lab, project, chapter, initiative?, patner? that they are about.

Can we display this association under the "share this" social media links please.

[2017-10-11 14:24] jeffreylasut commented on #108
@svandenhaak Please configure the disclaimer field to be able to add links like the content field.

[2017-10-11 14:33] jodygarnett commented on #95
update from meeting:
- [x] will link to projects in the text with an appropriate heading
- [ ] we can retain the repeater field and use it to highlight resources on the partners website, rename "Initiatives" to "Resources"

[2017-10-11 14:36] #100 closed

[2017-10-11 14:44] jodygarnett commented on #111
This would be helpful to avoid projects writing license names inconsistently.

* [ ] list of checkboxes
* [ ] add to  the list over time, like we do with standards

[2017-10-11 14:46] jodygarnett opened #125 "Project Filter dropdown is larger than my screen"
This is mostly due to standards growing over time :)

What steps can we do fix this usability issue?

[2017-10-11 15:15] jodygarnett commented on #102
Initial content: http://osgeo.getinteractive.nl/about/what-is-open-source/ (request for review sent to email lists).

[2017-10-11 15:46] #108 closed

[2017-10-11 17:11] stevenfeldman commented on #116
Also events aren't exporting after their 'end date'

[2017-10-11 17:20] cvvergara opened #126 "Events handling"
I am looking around on wordpress features/plugins

There are this interesting ones about events:

This looks interesting for having an events calendar, for example, the FOSS4G events could be listed on the calendar.
https://wordpress.org/plugins/the-events-calendar/

This is a more complicated one about events, kind of a full administration for an event
https://wordpress.org/plugins/events-manager

[2017-10-12 14:41] jodygarnett commented on #126
I also wondered if there was an events map, so we could see where events were being planned.

[2017-10-12 14:43] jodygarnett commented on #126
@cvvergara can break this issue up into a series of concrete "enhancement" requests? Even if it is just planning for the future.

[2017-10-12 14:43] jodygarnett commented on #125
@jeffreylasut is this a "bug" or an enhancement? Even just making two columns for "standards" would help.

[2017-10-12 15:11] jodygarnett opened #128 "Use of embedded web maps"
Including maps that are fast and look amazing is important in showcasing our expertise as cartographers and credibility as technologists.

Gretchen has done a great job on the cartography, as we can see in the style guide, this issue is used to double check how well these maps are integrated into our website.

Here are pages that are intended to include both an embedded web map at the top of the p

[2017-10-12 19:42] jsanz commented on #105
If you think it's a good idea, you can use any of the available [CARTO styles](https://carto.com/location-data-services/basemaps/) including the [new Voyager](https://carto.com/blog/new-voyager-basemap/).

[2017-10-12 19:47] jj0hns0n commented on #105
@jsanz, we have an osgeo specific style that @petersongis setup, but no
tile source to run it against for now. It should be able to be ported to
run against carto tiles. Lets check with Gretchen about that?

On Thu, Oct 12, 2017 at 12:42 PM, Jorge Sanz <notifications@github.com>
wrote:

[2017-10-12 20:45] cvvergara opened #129 "Events calendar"
From #126

This looks interesting for having an events calendar, for example, the FOSS4G events could be listed on the calendar.
https://wordpress.org/plugins/the-events-calendar/

This one has a video that gives and idea of what its for
https://wordpress.org/plugins/event-calendar-wd

[2017-10-12 20:46] cvvergara opened #130 "Event manager"
from #126

full administration of an event
https://wordpress.org/plugins/events-manager/#description

[2017-10-12 20:47] cvvergara opened #131 "Event map"
from #126

I also wondered if there was an events map, so we could see where events were being planned.

[2017-10-12 21:48] jodygarnett opened #132 "laptop, mobile, browser frame for screensnaps"
One feature described in the visual design (that does not appear in the final website) is the ability to choose the frame used around screen snaps in on the project pages.

The [geonode](http://osgeo.getinteractive.nl/projects/geonode/) example page achieves this effect by hand, preparing an example image prior to uploading.

We were looking for an easier, non manual, approach to swapping between

[2017-10-12 21:50] jodygarnett commented on #132
@jeffreylasut we seem to have lost track of this visual design element, I can no longer verify against invision.

[2017-10-13 05:46] jsanz commented on #105
Not sure what do you mean by a "tile source" but yeah, happy to discuss

[2017-10-13 09:48] jeffreylasut opened #133 "Sorting the events list"
The events should be sorted by date and upcoming events first.
http://osgeo.getinteractive.nl/events/

[2017-10-13 12:28] jeffreylasut opened #134 "GeoForAll Labs map not working"
http://osgeo.getinteractive.nl/initiatives/geo-for-all/

[2017-10-13 17:37] jodygarnett opened #135 "Events page - Sort events by date and filter previous events"
Visiting the events page  http://osgeo.getinteractive.nl/events/

Shows many events that have passed, rather than upcoming events which should be the default.

Can we do two things to fix this:

* [ ] make a filter, on by default, that filters prior events
* [ ] sort the events by time, so that events are listed in the order they are coming up

[2017-10-13 17:37] jodygarnett commented on #135
This is a functionality problem, the events visitors would like to see are now on page 2.

[2017-10-13 17:48] jodygarnett commented on #128
I am unsure if the non-functioning maps I see are due to browser differences:

# Safari

Safari 11.0 http://osgeo.getinteractive.nl/geo-for-all-labs/ Filter --> Toggle Map
- map displays with no tiles
- 4 labs are visible as point markers on the map
- no interaction with these point markers is supported

<img width="805" alt="labsmap-safari" src="https://user-images.githubusercontent.com/629681/31

[2017-10-13 20:07] vloemans-marc opened #136 "No maps shown on iPhone 6 Plus"

[2017-10-13 20:10] vloemans-marc commented on #128
Using an iPhone 6 Plus, I don't see any maps on screen. Have filed a bug (first ever in my life...what's next....me coding ;-)

[2017-10-13 20:14] jodygarnett commented on #128
And to think many individuals start their open source journey by filing an issue; you are just taking a different approach @vloemans-marc .

[2017-10-14 14:59] gisnederland opened #137 "User page does't automatically scroll upwards when moving to next page"
The member page show 3 rows of members. That requires -at least- n my 22"screen" scrolling down.
When moving to the next page, the page stays in the old -often bottom- position, whereas I expect it scroll to/start at the top of this next page..

[2017-10-14 15:18] gisnederland commented on #128
on Win10 - 64 bitOS:
http://osgeo.getinteractive.nl/geo-for-all-labs/
chrome (61.0.3163.100): tiles display OK / point markers display OK but no interaction
IE (11.674): Header (text) and footer (sponsors) of page loads, middle part with labs does not load at all
Edge: tiles display OK / point markers display OK but no interaction
FireFox (56.0.1): button filter does not respond

[2017-10-14 15:24] gisnederland commented on #128
On Android 6.0.1
http://osgeo.getinteractive.nl/geo-for-all-labs/
chrome (61.0.3163.98): tiles display OK / point markers display OK but no interaction

[2017-10-14 16:57] gisnederland commented on #128
On Android (tablet)
http://osgeo.getinteractive.nl/geo-for-all-labs/
chrome (55.0.2883.91): tiles display OK / point markers display OK but no interaction
standard android browser (4.3.1-1754): page won't load (middle part with labs doesn't load).

[2017-10-14 21:15] jodygarnett commented on #123
@MarvinGI I have asked for help on the marketing email list, and reached out to @ahocevar for help. I am leaving this issue unassigned until we can find a contributor to work on it.

[2017-10-14 21:17] gisnederland commented on #102
Some remarks:
- "You are no longer tied to per-seat licensing or to a single software vendor." Applies to ArcGIS, but not to Mapinfo (and others), who have a reseller distribution system.
- "Open source has a long history in our geospatial field": simply give those examples. And add the fact this means open source software is sustainable, and thus a good investment when it comes to courses/educati

[2017-10-14 21:22] jodygarnett commented on #123
@ahocevar are you able to answer the specific question raised by this bug report, ie why coordinates, apparently obtained from google maps, appear too far south when displayed against an OSM basemap?

@MarvinGI when looking up locations I tend to use:

1. Look up the city on wikipedia, example https://en.wikipedia.org/wiki/Victoria,_British_Columbia

2. Look for the map on the right hand side, and

[2017-10-14 21:31] jodygarnett commented on #102
Thanks @gisnederland, this text in the handout was originally much larger and has been cut down over time.

The "per seat license" is in response to a current change of licensing that I have been told about at many GIS conferences in 2017. It seems like good timing to mention it.

I also would like to see people looking for a solution, one trick I used as a consultant was to price solutions over t

[2017-10-14 21:54] gisnederland commented on #102
@jodygarnett I guess Geoserver might be a better example, since its main proprietary competitors (such as ArcGIS Server) are just in there teens (and their predecessors are still well known), whereas PostGIS's main competitor (the big "O") has an age of twenty-something.

[2017-10-16 15:13] #119 closed

[2017-10-16 18:29] jodygarnett commented on #123
@MarvinGI can I confirm I am reading your code snippet correctly? The parameters say `(lat, long)` and the function call says `[long, lat]`?

Can you confirm you are swapping these around on purpose ... I know it sounds crazy but there can be reasons!

[2017-10-18 04:51] jodygarnett commented on #88
@jeffreylasut I am having some trouble with nothing being listed on the http://osgeo.getinteractive.nl/choose-a-project/information-technology/client/ page.

Can I get some help in tomorrows meeting?

The QGIS and gvSig projects should show up there.

[2017-10-18 08:25] MarvinGI commented on #123
The decimal representation of the page you linked is the same type as on Google Maps. When you enter the coordinates on Google Maps you get the right location, when you enter the same coordinates in OpenLayers you get a location that is more south.

I obtained the coordinates from the google maps urls.

Yes, I'm swapping them on purpose because the OpenLayers functions require them in that order.

[2017-10-18 09:48] ahocevar commented on #123
Where's the code for that map?

[2017-10-18 11:38] MarvinGI commented on #133
The events are now sorted by date and upcoming events first.

[2017-10-18 11:38] #133 closed

[2017-10-18 11:39] #76 closed

[2017-10-18 13:21] #134 closed

[2017-10-18 13:41] jeffreylasut opened #138 "Who's involved view all link"
The "View all" link goes to the members page but doesn't filter by project or lab.

http://osgeo.getinteractive.nl/projects/geonode/

[2017-10-18 14:00] jodygarnett opened #139 "partners list shows website links, but individual pages do not!"
Related pages:

* http://osgeo.getinteractive.nl/partners
* http://osgeo.getinteractive.nl/partners/igu/
* etc...

Partner card showing website URL:

![igu-card](https://user-images.githubusercontent.com/629681/31722886-23798a5a-b3d2-11e7-833f-e7292a6c08e3.png)

[2017-10-18 14:03] jodygarnett opened #140 "partners page lists a single contact person, some partners have two!"
related page:

http://osgeo.getinteractive.nl/partners/ucgis/

[2017-10-18 14:28] jodygarnett commented on #19
Reopened based on meeting review of initial projects from sprint.

The Level 1 > Level 2 is not being consistently applied leaving some page.

[2017-10-18 14:32] jodygarnett opened #141 "Confirm choose-a-project is listing correct content"
Follow on to #88 to confirm each choose-a-project page has the expected content:

Related issues:

* [ ] 19 Use of tags (Level 1 > Level 2)
* [x] 88 Use of tags logic to shortlist content for each page

Based on these changes we will need to update all the project metadata for the pages to work.

Here are the pages to verify:

Publish

- [ ] Content Management        publish+service+document
- [ ]

[2017-10-18 14:33] jodygarnett commented on #141
Note Technology > Portal was empty, GeoMOOSE community assumed portal was useless and listed themselves as a service. In discussions to fix.

[2017-10-18 22:56] jodygarnett commented on #139
This is probably a duplicate of #94

[2017-10-18 23:51] jodygarnett opened #142 "Partner list filter by partner / friend"
Follow on to https://github.com/OSGeo/osgeo/issues/94 now that we have content.

The partners  list (http://osgeo.getinteractive.nl/partners/) is the only card page that does not provide a filter, in this case it would be useful to filter by "partner" or "friend".

[2017-10-18 23:54] jodygarnett commented on #95
mark as resolved, one remaining issues now reported individually.

[2017-10-19 07:18] jodygarnett opened #143 "Automatically consume opensourcegeospatial.icaci.org feed for GeoForAll news"
Request form GeoForAll list:

[2017-10-19 21:04] jodygarnett commented on #88
Marking this issue (use of tags) closed, the confirmation of content has been moved to #141 above.

Issue #19 remains open, giving an unambiguous way for projects to control what page they are listed on.

[2017-10-20 15:28] kalxas opened #144 "Filter on Resources page not working on Firefox"
This is what I see on Firefox 52.x
![screenshot_20171020_182618](https://user-images.githubusercontent.com/383944/31828898-4f9fb39a-b5c4-11e7-9334-c9f26889f4cb.png)

and this is on Chrome:
![screenshot_20171020_182638](https://user-images.githubusercontent.com/383944/31828903-57f86f5a-b5c4-11e7-8f61-837f0942685b.png)

[2017-10-20 15:51] jodygarnett opened #145 "GeoForAll Webinar List is empty"
Comparing:

* http://osgeo.getinteractive.nl/initiatives/geo-for-all/webinars/
* http://www.geoforall.org/webinars/

The webinar page  no longer has a list of:

* upcoming webinars
* previous webinars (also available as a youtube channel)

This page should list GeoForAll webinar events, from here
Options:

* [ ] Provide GeoForAll person access to edit so they can maintain list of upcoming webinars

[2017-10-20 15:53] jodygarnett commented on #145
@jeffreylasut we have dropped some functionality from the drupal website here

[2017-10-21 06:09] jodygarnett commented on #15
@cvvergara it looks like I can now make menus, is there a wiki page or something I could use to have some text for a placeholder page?

[2017-10-21 06:11] jodygarnett opened #146 "Use of "OSGeo" in menus and actions (rather than "OSGEO")"
As reported by our president:

[2017-10-21 06:15] jodygarnett commented on #146
I wonder if "small caps" could be used as a compromise (but perhaps that is just silly).

[2017-10-21 06:17] jodygarnett commented on #146
@jeffreylasut marking this as a bug to remind us to discuss as next meeting, if we can handle it via the issue tracker that is okay too.

I looked in our meeting notes, since I remember discussing this when venka origionaly reported it. In this case we have a conflict between visual consistency (capital presentation for actions and menus) and corporate identity "OSGeo".  Do you think Pim would go

[2017-10-23 08:19] jeffreylasut commented on #146
@jodygarnett Discussed it with Pim and we go for "not forcing capitals" on the menu's and call-2-action buttons.
Made a little example how it will look:
![lowercase-example](https://user-images.githubusercontent.com/412658/31878815-962e7332-b7db-11e7-9e83-6a1a8b708066.png)

[2017-10-25 06:29] jodygarnett opened #147 "partner page mailing list link, if provided, results in a broken link"
Page: http://osgeo.getinteractive.nl/partners/ogc/

The form only accepts an email address:

* standards@osgeo.org

When shown on the website this becomes the following link:

* http://osgeo.getinteractive.nl/partners/ogc/standards@osgeo.org

This link should go to this page:

* https://lists.osgeo.org/mailman/listinfo/standards

[2017-10-25 06:34] jodygarnett commented on #146
I have asked Venka to review the above image, hopefully in time for tomorrows meeting.

[2017-10-25 06:42] jodygarnett commented on #19
Note it would be fine to *remove* Topics from the Filter menu, a similar role is already played by Category, Technology and Development.

[2017-10-25 09:19] svandenhaak commented on #139
Partners which make use of the website input field, now automatically have a call-2-action button on the individual page.

[2017-10-25 09:19] #139 closed

[2017-10-25 11:30] MarvinGI commented on #123
This is the code for the map:

[code]

[2017-10-25 11:40] MarvinGI commented on #128
Filter dropdown is now working and map is displayed in Firefox.

[2017-10-25 14:12] jodygarnett opened #148 "maintenance of partner link initiative"
The folllowing pages are partner pages list geoforall as an initiative:

* http://osgeo.getinteractive.nl/partners/ica/
* http://osgeo.getinteractive.nl/partners/igu/
* not an exhaustive list

The geoforall page (at the bottom) does not list both these pages:

- http://osgeo.getinteractive.nl/initiatives/geo-for-all/

[2017-10-25 14:17] jodygarnett opened #149 "unable to link to project list filtered to show WPS projects"
When using the projects page:

* http://osgeo.getinteractive.nl/projects/

And filling in a filter (or search) produces a nice list I would like to share via email.

How can I send a link to this search?

[2017-10-25 14:29] #147 closed

[2017-10-25 14:32] #144 closed

[2017-10-25 14:33] jodygarnett commented on #138
Similar issue with local chapters.

Similar to #149 filter settings are not captured as part of URL.

[2017-10-25 14:41] jodygarnett opened #150 "geoforall map interrupts page scroll"
When scrolling down the following page using the mouse scroll wheel:

* http://osgeo.getinteractive.nl/initiatives/geo-for-all/

The scroll action is captured by the map and used to zoom; making it hard to reach the end of the page!

This is more a challenge on mobile, once your screen enters the map ... you can never leave!

Options:

- Double click action can also be used to zoom the map
- On mo

[2017-10-25 14:48] jodygarnett commented on #88
Can we close this this, the two issues are now seperate:

- #19 addresses the maintenance issue, helping projects list themselves on purpose
- #141 addresses the content issue, verifying the projects listed are correct

[2017-10-25 14:48] #88 closed

[2017-10-25 15:42] bartvde opened #151 "LinkedIn link goes to the Dutch chapter"
that doesn't make sense to me

[2017-10-25 16:00] jodygarnett opened #152 "filter for geoforall labs not working"
Page:

* http://osgeo.getinteractive.nl/geo-for-all-labs/

Reported from geoforall mailing list:

[2017-10-25 16:20] jodygarnett opened #153 "No way to filter resources by project"
Reported via email discussion - there is no way to associate a resource with a specific open source project. This means you cannot filter resources for a specific project.

Page:

* http://osgeo.getinteractive.nl/resources/geoserver-user-manual/
* http://osgeo.getinteractive.nl/projects/geoserver/

[2017-10-25 16:44] jodygarnett opened #154 "font issues on home page"
Reported via chat:

![pasted image at 2017_10_25 08_36 am](https://user-images.githubusercontent.com/629681/32011241-0fa4c41c-b969-11e7-856c-939f0b666c31.png)

Platform browser not specified.

[2017-10-25 17:00] dvntucker commented on #154
I get this issue on Windows 10, using latest Chrome or Firefox. On a 1440p monitor.

[2017-10-25 18:57] gisnederland commented on #128
Regarding IE:
debugging shows erros "promise  is not defined"

Possible solution:
https://stackoverflow.com/questions/36831372/promise-is-undefined-in-ie

[2017-10-25 19:06] gisnederland commented on #128
standard Android (4.3.1) browser on Samsung tablet still not working as well.
Perhaps the same "promise"-problem?

[2017-10-26 16:20] jodygarnett commented on #110
Additional feedback on review of v8:

[2017-10-30 15:34] jodygarnett commented on #131
I know, we are recording event locations but not mapping them. I went back to the orgional wireframes and did not see the request at that time so this is an "enhancement".

[2017-10-30 20:03] ahocevar commented on #123
And where is the result? I don't find a map on http://osgeo.getinteractive.nl/local-chapters/.

[2017-10-30 21:08] ahocevar commented on #123
I found your issue @MarvinGI. You're doing `parseInt` for geographic coordinates, so you're stripping down precision to degrees. Change that to `parseFloat`.

[2017-10-30 21:08] jodygarnett commented on #123
See https://github.com/OSGeo/osgeo/issues/128 for list of webmaps on the site and how to use.

[2017-11-01 08:53] MarvinGI commented on #123
Totally missed that. The markers look right after changing the parse. Thank you.

[2017-11-01 08:53] #123 closed

[2017-11-01 12:30] jeffreylasut commented on #136
@vloemans-marc Could you provide which iOS version you are using?
You can find it at Settings->General->About.

[2017-11-01 12:51] #19 closed

[2017-11-01 12:53] #138 closed

[2017-11-01 13:01] #146 closed

[2017-11-01 14:16] jeffreylasut commented on #117
It seems to be working on version 10.13.1.

![schermafbeelding 2017-11-01 om 15 06 45](https://user-images.githubusercontent.com/412658/32278918-7be28bce-bf17-11e7-9822-2fd425ec44d0.png)

[2017-11-01 14:36] jodygarnett commented on #146
I did not even notice this fix until hitting refresh

[2017-11-01 14:39] jodygarnett commented on #138
I see a similar fox has been provided for service providers:

http://osgeo.getinteractive.nl/service-providers/?p=geonode

Notes:
- filter geonode cannot be set with dropdown
- not sorted according to core > contributor > other

I will make a new ticket I guess.

[2017-11-01 14:40] jodygarnett opened #159 "Project page sevice providers link, list not sorted core > contributor > other"
Follow on to #138 - I see a similar fix has been provided for service providers:

http://osgeo.getinteractive.nl/service-providers/?p=geonode

Notes:
page
- [x] bug: doesn't seem to filter by project (View all service providers in project detail)
- [x] bug: not sorted according to core > contributor > other

The following things were missed from wireframe review and have been taken to #161:
- [ ]

[2017-11-01 14:45] jodygarnett commented on #117
Oh darn - this bug report is totally my fault, I had Ghostery installed and it was blocking those widgets:

* AddThis: Widgets, Social
* Polyfill: Advertising

[2017-11-01 14:45] #117 closed

[2017-11-01 15:15] jodygarnett commented on #152
Update from discussion with Helena:

[2017-11-01 15:15] #152 closed

[2017-11-01 15:17] jodygarnett commented on #154
reproduced: windows only issue, seems to be an issue with the google font itself

Will look for solutions online

[2017-11-01 15:23] jeffreylasut commented on #136
Version IOS 11.1 is used by Marc

[2017-11-01 15:40] jeffreylasut commented on #150
@MarvinGI please setup a meeting with @ahocevar to fix this problem.

[2017-11-01 16:18] jodygarnett commented on #150
Looks like this is a one liner: https://gis.stackexchange.com/questions/136782/how-do-i-disable-mouse-scroll-zoom-in-openlayers-3

[code]

[2017-11-01 16:26] jodygarnett commented on #141
Okay - we have progress. As per #19 we have dropped the tag system and have one property that controls exactly what pages a project wishes to be listed on. We now have a content run to go through all the proejcts and see them listed somewhere.

[2017-11-01 16:27] #52 closed

[2017-11-02 08:46] astroidex commented on #116
* events that are already over (passed ended date) should somehow be still displayed (maybe possibility to hide them)
* maybe default should be to show all events - it is a good promotion and it is usefull to be able to click on a passed event and get all the information

[2017-11-08 06:01] nbozon commented on #110
Another additional feedback on review of v8, from osgeo-discuss on 25/10/17

[2017-11-08 06:24] nbozon commented on #113
Finally starting to work on it, based on the [style guide v8 PDF](https://github.com/OSGeo/osgeo/blob/master/marketing/branding/styleguide-osgeo.pdf), which is about to be accepted by the marketing committee. Need time to reproduce the validated design and create 37 pages -

[2017-11-08 09:14] MarvinGI commented on #154
We created an issue at the Google Fonts GitHub. https://github.com/google/fonts/issues/1300

[2017-11-08 10:10] jeffreylasut commented on #150
@jodygarnett This is added to the website http://osgeo.getinteractive.nl/initiatives/geo-for-all/
On desktop this solves the scrolling issues, but not for mobile/tablet.

[2017-11-08 10:28] MarvinGI commented on #128
debugging shows erros "promise is not defined"

The promise error is fixed by using the polyfill.

Also the interaction that was missing is added to the maps.

Perhaps the same "promise"-problem?

@gisnederland Could you test the new version of the map on that specific Android version? I tested on other versions and it works, but I don't have that specific version available.

[2017-11-08 10:59] jeffreylasut commented on #136
Tested on IOS 11.03, it seems to be working fine.
@vloemans-marc Coulf you please check again if the map on http://osgeo.getinteractive.nl/initiatives/geo-for-all/.
Please try to clear your browser cache if the problem persists.

[2017-11-08 11:01] vloemans-marc commented on #136
It works ! Thx.

Kind regards,
Marc Vloemans

[2017-11-08 14:31] MarvinGI commented on #159
We fixed the bugs.

[2017-11-08 15:14] jodygarnett commented on #159
Checking wireframes, we only have an early wireframe listing service providers, it has a drop down listing project expertise.

[2017-11-08 15:17] jodygarnett opened #161 "Filter service provider by project"
Follow on to #138 and $159 we noted that there is no ability to filter by project (but you can get this functinoality by editing the URL or clicking on the service providers link on a project page.

* http://osgeo.getinteractive.nl/service-providers/?p=geonode
* http://osgeo.getinteractive.nl/service-providers/?p=geoserver

While we missed this in the wireframe review, we should have the following

[2017-11-08 15:18] #159 closed

[2017-11-08 15:22] jodygarnett commented on #150
Okay we need to ask @ahocevar for help

[2017-11-08 15:24] #136 closed

[2017-11-08 15:46] ahocevar commented on #150
Here's a solution that works for both desktop and mobile:
[code]
Mobile users will then need two fingers to pan the map, which has become default behaviour in similar apps that use Google Maps as well.

[2017-11-08 18:35] gisnederland commented on #128
Works like a charm on the Android 4.3.1 browser.

[2017-11-08 18:35] gisnederland commented on #128
Works like a charm on the Android 4.3.1 browser.

[2017-11-10 16:10] #128 closed

[2017-11-11 13:13] astroidex opened #162 "update wikipedia page OSGeo and add the new branding"
* https://en.wikipedia.org/wiki/Open_Source_Geospatial_Foundation
* OSGeo page exists for several languages
* some already use the new OSGeo logo other have to be updated

[2017-11-11 13:16] astroidex opened #163 "OSGeo wiki page Logo - add information about the new logo"
* add information to the OSGeo Logo Wiki page https://wiki.osgeo.org/wiki/Logo
* the page logo contains information about the branding (till 2017)
* I added short information about the new logo and referenced to github.
* please check whether it is enough information

[2017-11-13 12:21] jeffreylasut commented on #150
issue is solved.

[2017-11-13 12:21] #150 closed

[2017-11-14 18:08] jodygarnett commented on #154
@MarvinGI the issue seems to already be reported https://github.com/google/fonts/issues/1092 -

please read and see if any of the solutions apply to our case.

[2017-11-15 09:04] Tintrin commented on #110
Please provide new text or image for the following:

- Cartography example pg 19 doesn't match text. The land is not from the green palette.

[2017-11-15 09:11] jodygarnett opened #166 "Topic organization randomized after editing"
The topic choose for this page:

- http://osgeo.getinteractive.nl/projects/deegree/

Is hard to sort out after editing, since the items in the list seem to be reordered - irregardless of topic nesting.

![topic-order](https://user-images.githubusercontent.com/629681/32827703-ee4f41fe-c9a1-11e7-9756-87327265c3fe.PNG)

In the picture above "raster processing" should be nested under Analysis and Proc

[2017-11-15 09:13] jodygarnett commented on #166
Can sorting of these labels be turned off?

[2017-11-15 09:14] jodygarnett commented on #166
okay solution is to select the parent

[2017-11-15 10:23] Tintrin commented on #110
[styleguide-osgeo-v9.pdf](https://github.com/OSGeo/osgeo/files/1474242/styleguide-osgeo-v9.pdf)

Added v9 also to the Google Drive folder. Also added the InDesign file.

[2017-11-20 15:46] siglagglo opened #167 "update new version of OTB in OSGEO4W"
Hi,
I would like to install the last version of otb 6.2 (or at least 6.0) with OsGeo4W but i notice that the last version available is 5.0 and is not up to date. So several algorithms are missing in qgis geoprocessings interface.
Thanks for soleving this issue.

[2017-11-21 03:00] jodygarnett commented on #166
Going to guess this is not fixable, just part of how word press operates, selecting the "parent" tag makes this slightly easier to follow for subsequent edit.

Action suggestion - check for a wordpress bug report and cross link, or make a wordpress bug report.

[2017-11-21 03:05] jodygarnett commented on #167
This issue tracker if for the osgeo.org website, the issue tracker for OsGeo4W is here - https://trac.osgeo.org/osgeo4w/

[2017-11-21 03:05] #167 closed

[2017-11-21 03:08] jodygarnett commented on #163
I think we can remove the information on the old logo. What I tried to do for the GetHub readme files is quote the style guide (and provide a link to the style guide).

I had a question @astroidex - we have two things to communicate: a) the use of the logo (to represent OSGeo) and b) the use of a sub-brand (to represent an OSGeo activity). Is it worth covering these on the same page, or will it on

[2017-11-21 03:11] jodygarnett commented on #163
I think we can also remove the contents of https://wiki.osgeo.org/wiki/TrademarkGuidelines linking to the (which link to the appropriate website trademark guidelines page).

Duplicating information, or providing historical information, does not help (most times a community member searches they are seeking quick clarification).

[2017-11-21 03:15] jodygarnett opened #168 "Component 2: Local Chapter Page Event listing and event calendar integration"
Reviewing component 2 deliverables, seeking to verify the following:

3.3.2.4 Local Organizations

* [x] Local Chapters index using a map based interface;
* [x] Local detail page with events, news and social media feeds related to local chapter
* [x] Local organizations are able to add events to the events calendar

Example pages for reference:

* http://osgeo.getinteractive.nl/local-chapters/gfos

[2017-11-21 03:21] jodygarnett commented on #168
Functionality for "index using a map based interface" is done

The map is hidden behind the drop down filter and not easily discoverable (the filter drop down has a toggle map button). Marking this as done, although we should consider placing a "toggle map" button right next to filter to make the discovery of the functionality easier.

<img width="1232" alt="togglemap" src="https://user-images.git

[2017-11-21 03:30] jodygarnett opened #169 "Component 2: Initiative Page showing resources and news"
Reviewing component 2 deliverables, seeking to verify the following:

3.3.2.5 Initiatives

* [x] Initiatives index (highlight OSGeo foundation key initiatives high level way)
* [x] Initiative detail page with resources and news.

Example pages for reference:

* http://osgeo.getinteractive.nl/initiatives/ - lists initiatives, although dropdown menu used more often
* http://osgeo.getinteractive.nl/i

[2017-11-21 03:35] jodygarnett commented on #169
The initiatives page is a simple page with links (rather than a card page), initiatives have their own navigational menu so discoverability will be high.

[2017-11-21 03:50] jodygarnett opened #170 "Component 2: Downloads"
Reviewing component 2 deliverables, seeking to verify the following:

3.3.2.8 Downloads (moved to resources)

* [ ] Downloads index;
* [ ] Download detail with links to project detail page

Example pages for reference:

* http://osgeo.getinteractive.nl/resources/ - lack ability to provide URL restricting resource type to download
* (We lack an example of a "download" resource item)

[2017-11-21 04:28] jodygarnett commented on #170
I am pretty sure if I had edit access I could make a "download" resource type and close this issue out.

[2017-11-21 04:45] jodygarnett opened #171 "Component 2: Events index with list and calendar view"
Seeing to verify the following component 2 deliverable:

3.3.2.10 Events

* [ ] Event index with a list and calendar view;
* [ ] Event detail page with social media feeds, hashtags and photo streams;

Links:

* http://osgeo.getinteractive.nl/events/ - event list, no calendar view
* http://osgeo.getinteractive.nl/events/foss4g-sotm-argentina-2017-buenos-aires-argentina/ - prior event still listed
*

[2017-11-21 04:50] jodygarnett commented on #171
The event index is listing prior events, while it does not have a calendar view it *is* sorted by date easier to find what is going on when. Is sorting by date enough to cover the "calendar view" functionality.

[2017-11-21 04:52] jodygarnett commented on #171
The event detail page does not provide social media feed, hashtags, photo streams (ie all the kind of things that would be filled in by our community when an event is running).

[2017-11-21 05:02] astroidex commented on #163
* +1 to remove content of TrademarkGuideline and link to style guide. historical information will still be in the wiki-history

[2017-11-21 05:07] #94 closed

[2017-11-21 05:09] jodygarnett opened #172 "Component 2: Partner detail page with relevant initiatives, projects and resources"
Reviewing component 2 deliverables.

3.3.2.14 Partners

* [x] Partners index
* [ ]  Partner detail page with relevant initiatives, projects and resources.

Links:

* http://osgeo.getinteractive.nl/partners/
* http://osgeo.getinteractive.nl/partners/ica/
* http://osgeo.getinteractive.nl/partners/qgis-org-association/

[2017-11-21 05:11] jodygarnett commented on #172
These pages are edited by hand, while this can be done for projects and initiatives; resources change too often to maintain by hand.

[2017-11-21 05:12] jodygarnett commented on #172
There may be overlap with https://github.com/OSGeo/osgeo/issues/95

[2017-11-21 05:36] jodygarnett commented on #163
Revised both pages, please close if you are content with the change

[2017-11-21 07:02] astroidex commented on #163
great. less is sometimes more ;)

[2017-11-21 07:02] #163 closed

[2017-11-22 08:58] #110 closed

[2017-11-22 09:08] jodygarnett commented on #172
For reference here is the wireframe v9 accepted by the marketing committee:

<img width="853" alt="partner-wireframe" src="https://user-images.githubusercontent.com/629681/33118744-d841f288-cfc0-11e7-89ab-5749f381d7f3.png">

[2017-11-24 16:26] jeffreylasut commented on #170
Example resource with a download:
http://osgeo.getinteractive.nl/resources/ogc-memorandum-understanding/

[2017-11-27 09:10] MarvinGI commented on #166
I've added code to custom which prevents that checked taxonomies are moved to the top of the list. They now stay in the same position checked or not checked.

[2017-11-27 09:30] MarvinGI commented on #168
When editing a event relations to local chapters can now be added under de relations tab.

For testing purposes I added an event to:
http://osgeo.getinteractive.nl/local-chapters/gfoss-it/

The event can be edited here:
http://osgeo.getinteractive.nl/wp-admin/post.php?post=4113&action=edit

[2017-11-27 09:55] MarvinGI commented on #171
This is fixed now. The list only contains events that are in the present or future.

[2017-11-27 10:34] MarvinGI commented on #169
Related and resources can now be added with a relationship field in edit screen of the initiative page.

For example:
http://osgeo.getinteractive.nl/initiatives/foss4g/

[2017-11-27 10:47] MarvinGI commented on #172
Resources can already be coupled to partner under the resources tab on the following page:
http://osgeo.getinteractive.nl/wp-admin/post.php?post=1209&action=edit

I added a new field to manage the related projects.The related proejcts are shown in the side bar, example: http://osgeo.getinteractive.nl/partners/ica/

For initiatives we can't make a dynamic field because initiatives aren't a CPT.

[2017-11-28 01:46] jodygarnett commented on #166
That is great @marvinGI I was not sure this one would be fixable; I cannot login to check but I will mark this one as closed.

[2017-11-28 01:46] #166 closed

[2017-11-28 01:52] jodygarnett commented on #168
Thanks that looks perfect.

One note before I close this: related news has "view all press releases" as a link for more, would be more correct to say "view all news".

[2017-11-28 01:54] jodygarnett commented on #169
Thanks, that looks fine.

[2017-11-28 01:54] #169 closed

[2017-11-28 01:57] jodygarnett commented on #170
I see, that is when the issue is "attached" to the website.

@jeffreylasut I think we are better served by the [geoserver project page](http://osgeo.getinteractive.nl/projects/geoserver/) where there is a download software link meeting this requirement.

@jj0hns0n can you comment or clarify on this requirement please?

[2017-11-28 01:59] jodygarnett commented on #171
Thanks going to mark this as resolved.

[2017-11-28 01:59] #171 closed

[2017-11-28 02:01] jodygarnett commented on #172
I am not sure what a CPT is?

[2017-11-28 02:10] cvvergara commented on #168
@jodygarnett
shouldnt we be using:
https://staging.www.osgeo.org/

[2017-11-28 12:31] MarvinGI commented on #168
I have changed the text.

[2017-12-06 06:06] #168 closed

[2017-12-06 06:17] jodygarnett commented on #170
Going to mark this as won't fix, the "solution" would be to make a resource type "download", and then allow the resource page to have a stable link for downloads, listing the latest download page for each project only.

Think we prefer to have the "Download software" link above, making this managed by each project team.

[2017-12-06 06:17] #170 closed

[2017-12-06 06:24] jodygarnett opened #173 "Event detail page with embeded social media content"
Carry over from #171 - Event detail page with social media feeds, hashtags and photo streams

For OSGeo events we usually track:
- a twitter tag - used by attendees to discuss the event (example https://twitter.com/search?q=%23foss4g)
- a flicker group used by attendees to share photos (example: https://www.flickr.com/groups/foss4g/)

I assume wordpress has plugins that can embed this kind of cont

[2017-12-06 06:24] jodygarnett commented on #171
Marked the social media feed integration as https://github.com/OSGeo/osgeo/issues/173

[2017-12-06 06:26] jodygarnett commented on #173
This is marked as an "enhancement" as the requirement was missed during wireframe review. We can consider if the idea is useful.

[2017-12-06 06:29] jodygarnett commented on #172
Thanks, closing issue

[2017-12-06 06:29] #172 closed

[2017-12-20 17:23] jodygarnett opened #174 "Unable to crop sponsor logo on staging"
Attempting to set up safe software as a new sponsor with the following logo:

![safe_rgb](https://user-images.githubusercontent.com/629681/34219784-29341b1a-e567-11e7-9d1a-5c1a1b1232c9.png)

As usual this requires cropping, however when selecting a valid area and pressing crop Wordpress remains stuck on the form and I am unable to proceed as shown below.

![sponsor-crop-stuck](https://user-images.

[2017-12-20 17:26] jodygarnett commented on #174
This issue occurs in Safari and Firefox.

[2017-12-21 00:53] jodygarnett commented on #174
By making the image smaller than the requested 740x412 images I got a warning, and avoided the crop screen. The resulting image is stretched but visible here: https://staging.www.osgeo.org/sponsors/

[2017-12-22 12:16] neteler opened #175 "staging.www.osgeo.org fails to show fonts on Firefox Quantum"
![fonts_missing_staging_site](https://user-images.githubusercontent.com/1295172/34297651-affc267a-e719-11e7-803f-1042a0ff5919.png)

... this happens due to the external embedding of Google fonts.

Please change to self-hosting of the Google fonts, also to avoid external tracking of our users (may also collide with the upcoming EU General Data Protection Regulation).

To test: install for example t

[2017-12-22 17:57] jodygarnett commented on #175
Checking on stack exchange their are several solutions for self hosting google fonts.

* https://google-webfonts-helper.herokuapp.com/
* https://stackoverflow.com/questions/8966740/how-to-host-google-web-fonts-on-my-own-server/31801634#31801634

[2017-12-28 22:33] cvvergara opened #176 "SAC osgeo_userid page"
See initial issue here:
https://trac.osgeo.org/osgeo/ticket/2065

We don't know where to put pages related pages

[2017-12-28 23:11] robe2 opened #177 "staging.osgeo.org getting started page links need to be fixed"
In going thru this page and fixing the ldap links I noticed a lot of hard-coded www.osgeo.org links which will no longer work when this site goes live.

These need to be changed to relative links

https://staging.www.osgeo.org/community/getting-started-osgeo/

[2017-12-31 03:25] cvvergara commented on #177
I modified the page, I think the links are ok now.
@jodygarnett can you verify please?

[2017-12-31 13:51] cvvergara commented on #93
https://trac.osgeo.org/osgeo/ticket/1926 is closed, please Login using your OSGeo User ID
Current site location is:
https://staging.www.osgeo.org/

[2017-12-31 13:51] cvvergara commented on #107
https://trac.osgeo.org/osgeo/ticket/1926 is closed, please Login using your OSGeo User ID
Current site location is:
https://staging.www.osgeo.org/

[2017-12-31 16:28] neteler commented on #175
Update: I used the Firefox (Quantum) Inspector and checked the font.

When I change "Miriam Libre" to "Miriam", then all written text shows up!

Just saw https://github.com/google/fonts/issues/1300 (I am on Linux, though).

[2018-01-01 19:24] jodygarnett commented on #93
Thanks, marking this closed

[2018-01-01 19:24] #93 closed

[2018-01-01 19:26] jodygarnett commented on #177
That is great, I cannot think of a good way to verify (been clicking on random things). How did you fix?

(Going to mark as closed and we can reopen if we find a broken link)

[2018-01-01 19:26] #177 closed

[2018-01-01 19:33] jodygarnett commented on #176
SAC should have a committee page here: https://staging.www.osgeo.org/about/committees/

Right now it just links to the wiki since that was what was done for Drupal, would love it if a website page was made for each committee. The SAC page could have information pages such as osgeo_userid ?

I note from the above issue that https://staging.www.osgeo.org/osgeo_userid has been created. I have updated

[2018-01-01 22:19] neteler commented on #154
See also https://github.com/OSGeo/osgeo/issues/175

[2018-01-01 22:19] neteler commented on #175
See also https://github.com/OSGeo/osgeo/issues/154

[2018-01-02 02:37] jodygarnett commented on #176
Are their any more SAC pages? Or just the osgeo_userid one ...

[2018-01-03 01:01] jodygarnett commented on #176
Going to close this since the page in question has been created; reopen if needed

[2018-01-03 01:01] #176 closed

[2018-01-03 01:02] jodygarnett commented on #174
This same issue with the crop button is preventing members from setting an avatar image.

[2018-01-03 01:04] jodygarnett opened #178 "Add image button not working when setting member avatar"
As per #174 members are reporting being unable to set an avatar image when logging in with their "osgeo id" LDAP credentials for the first time:

Examples:

- https://staging.www.osgeo.org/member/davis/
- https://staging.www.osgeo.org/member/aime/

Report:

We may be able to configure https://en.gravatar.com to work?

[2018-01-03 16:10] MarvinGI commented on #174
@jodygarnett I fixed the issue locally by installing the PHP GD Library. For php 7.0 the command to install this library is `sudo apt-get install php7.0-gd`.

[2018-01-03 18:32] cvvergara commented on #177
I clicked on all links, had to create a new page that will not exist when the site is moved to the final location.

[2018-01-03 19:03] jodygarnett commented on #177
So chances are we will find some more when we move. @robe2 indicated she may be able to bulk fix links after the move, perhaps she has some ideas to help...

[2018-01-03 20:05] jodygarnett commented on #178
Related to https://trac.osgeo.org/osgeo/ticket/2057 crop not working for sponsors page

[2018-01-03 20:06] jodygarnett commented on #174
Related to https://trac.osgeo.org/osgeo/ticket/2057 crop not working for sponsors page

[2018-01-03 21:59] jodygarnett commented on #174
Thanks @MarvinGI installing that (for php5) helped and we can now crop the safe software logo.

However the sponsors page (https://staging.www.osgeo.org/sponsors/) no longer shows *any* sponsor logos so we may have an incompatibility?

[2018-01-04 01:04] jodygarnett commented on #178
Crop issue is fixed, marking these as closed.

[2018-01-04 01:04] #178 closed

[2018-01-04 01:05] jodygarnett commented on #174
Answer was easier the 2017 sponsors no longer are shown as intended. We are looking at add a month field ...

[2018-01-04 01:05] #174 closed

[2018-01-07 22:25] neteler commented on #154
BTW: Same issue on http://2018.foss4g.org/ (no font visible), using Firefox Quantum

[2018-01-10 18:44] jodygarnett opened #179 "Missed migration missing early news items"
I was transferring our logo page which references an early news item:

* http://www.osgeo.org/content/news/news_archive/logo_contest.html

This page was published on "2006-12-09 01:40:03 +0000".

The page does not appear during search:

* https://staging.www.osgeo.org/foundation-news/ - search for "logo" the earliest entry in 2006

Indeed the earliest news item is from 2007:

* https://staging.www

[2018-01-10 18:46] jodygarnett commented on #179
Visiting the Drupal site that appears to be the case - http://www.osgeo.org/news?page=77 references articles from 2008.

So we have missed early news announcements :P

[2018-01-10 19:10] jodygarnett commented on #113
I have put some placeholder information on that page:

* https://staging.www.osgeo.org/about/branding-material/

And updated the old Drupal website (as we have the outstanding trac issue (https://trac.osgeo.org/osgeo/ticket/2011) causing confusion):

* http://www.osgeo.org/logos

[2018-01-11 06:55] jodygarnett opened #180 "mobile device does not provide login and search due to dynamic page layout"
I have the following report via email:

I have confirmed that the box containing "News Wiki Contact Sign in Search" is removed when the screen is made narrow. Out of those options *search* is especially useful.

[2018-01-11 08:13] jsanz opened #181 "XML Feeds per content type"
We need to provide XML feeds for at least [Foundation News](https://staging.www.osgeo.org/foundation-news/) type so we can aggregate articles on that category in the [OSGeo planet](http://planet.osgeo.org).

Maybe other contents are also worth to be exposed as feeds but I'm less aware of them to have an opinion.

Current [feed](https://staging.www.osgeo.org/feed/) appears empty.

[2018-01-11 08:22] jodygarnett commented on #181
Cross posting to the system admin committee here https://trac.osgeo.org/osgeo/ticket/2079

[2018-01-11 08:25] jodygarnett commented on #181
@jsanz while we are thinking this through please compare:

- https://staging.www.osgeo.org/foundation-news/
- https://staging.www.osgeo.org/community-news/

Is the community-news page the same content as planet?

Is t

[2018-01-11 20:06] neteler commented on #175
Found it: a local glitch due to local font installation needed for the OSGeo branding stuff...

Hence: invalid.

[2018-01-11 20:06] #175 closed

[2018-01-11 20:14] jodygarnett commented on #175
@neteler can you clarify? In case the next person runs into trouble ...

[2018-01-11 21:13] neteler commented on #175
Sure: the local copy of Miriam fonts was broken after laptop update :( Their installation was needed some weeks ago to get the marketing material done. Later I forgot about the local copy in $HOME/.local/fonts/ which caused the problem. Just today I remembered about them and checked - voilà, broken. After broken font files removal the new site is shiny as expected.

[2018-01-11 21:29] jodygarnett commented on #175
Wonder if that would help #154 ?

[2018-01-15 05:52] jodygarnett opened #182 "Missed migration of news items after October"
The newest news item on staging.osgeo.org is "OSGeo and the International Geographical Union (IGU) sign MoU" October 2nd, 2017

The missed news items are:

- [ ] http://www.osgeo.org/node/1835
- [x] http://www.osgeo.org/node/1834
- [x] http://www.osgeo.org/incubator/2017/osgeolive-enters-incubation
- [x] http://www.osgeo.org/node/1831
- [x] http://www.osgeo.org/node/1830
- [x] http://www.osgeo.org

[2018-01-15 06:19] jodygarnett commented on #182
https://staging.www.osgeo.org/foundation-news/osgeo-board-election-2017/

[2018-01-15 06:32] jodygarnett commented on #182
https://staging.www.osgeo.org/foundation-news/osgeo-live-moving-transifex-step-2-battle-testing/

Was annoying to collect images from wiki thumbnail convention

[2018-01-15 06:36] jodygarnett commented on #182
https://staging.www.osgeo.org/foundation-news/code-in-2017/

[2018-01-15 06:38] jodygarnett commented on #182
https://staging.www.osgeo.org/foundation-news/otb-6-2-0-released/

[2018-01-15 06:40] jodygarnett commented on #182
https://staging.www.osgeo.org/foundation-news/os-guidebook-lidar-conservation-wwf/

[2018-01-15 06:43] jodygarnett commented on #182
https://staging.www.osgeo.org/foundation-news/osgeolive-enters-incubation/

[2018-01-15 07:03] jodygarnett commented on #182
https://staging.www.osgeo.org/foundation-news/new-gvsig-mobile/

[2018-01-15 07:17] jodygarnett commented on #182
All caught up

[2018-01-15 07:17] #182 closed

[2018-01-15 07:19] jodygarnett commented on #179
And now everything seems to be fine - indeed the new site is better as it is consistently sorting by date.

https://staging.www.osgeo.org/foundation-news/kickoff-meeting/

[2018-01-15 07:30] jodygarnett commented on #179
Okay I found it - http://www.osgeo.org/content/news/news_archive/news_archive.html

Most everything seems to be accounted for

[2018-01-15 07:36] jodygarnett commented on #179
Restored https://staging.www.osgeo.org/foundation-news/osgeo-logo-contest/

[2018-01-15 07:36] #179 closed

[2018-01-15 19:18] jodygarnett commented on #182
Added news from discuss list:

- https://www.osgeo.org/foundation-news/election-2017-charter-member-nomination-results/
- https://www.osgeo.org/foundation-news/election-2017-board-directors-elections-results/

It is great to have website back

[2018-01-15 20:01] jodygarnett commented on #113
From marketing email list:

[2018-01-15 20:03] jodygarnett commented on #113
SAC IRC is trying to fix broken links to https://www.osgeo.org/sites/osgeo.org/files/osgeo_logo.png (despite https://github.com/OSGeo/osgeo/issues/113).

And propose:

brand.osgeo.org ?

If this goes ahead it would be a good location for the html style guide, and a stable URL for OSGeo website assets to source logos.

[2018-01-16 00:02] jodygarnett commented on #15
I think this can be closed: http://www.osgeo.org/initiatives/gsoc/

[2018-01-16 00:02] #15 closed

[2018-01-17 16:18] jsanz commented on #181
@jodygarnett the community news is fed by the planet RSS I believe, so it's duplicated content in fact.

[2018-01-19 09:44] astroidex opened #183 "gravatar image is set in the profile via Profile Picture but image is not displayed"
Problem
* In the published version you can't see the profile image which was set via gravatar-image
* similar bug is reported here #178 (but not concerning gravatar)

Workflow:
1. Profile Picture is set via gravatar
2. you can see the picture in the profile edit mode

In the published version you can't see the profile image
* https://www.osgeo.org/member/toma/
* https://www.osgeo.org/projects/mapb

[2018-01-22 07:08] cvvergara commented on #183
@astroidex
The way the user's homepage works:

Uses the image that is set up with:
Image | No image selected Add Image

![image](https://user-images.githubusercontent.com/5035290/35208843-f2c112c8-ff0f-11e7-9060-de2775314a87.png)

As you can see I have no image selected therefore there is no image on
https://www.osgeo.org/member/vicky-vergara/

The website was developed without the avatar, we are

[2018-01-22 15:56] astroidex commented on #183
* ok. Thanks @cvvergara for the feedback. So we should have a look at #178, because normal user can't upload an Image (report was: The "add image" button does nothing")
* I tried it with the account of my collegue theklaw (Subscriber) and noticed that she can't upload an image

[2018-01-22 15:59] astroidex commented on #178
maybe we should reopen this ticket
* looks like normal Subscribers can't upload an image. My collegues tried it but nothing happens, no error message

[2018-01-23 04:28] cvvergara commented on #183
@astroidex can you open a ticket on trac referencing this ticket please

[2018-01-23 06:36] astroidex opened #184 "normal subscribers can't upload a profil image"
* normal user can't upload an Image (report was: The "add image" button does nothing")
 *  I tried it with the account of my collegue theklaw (Subscriber) and noticed that she can't upload an image

Problem
* click on button -> nothing happens -> no error message

see also #183#issuecomment-359673050 and #178

[2018-01-23 06:36] astroidex commented on #183
* ok. done. see #184

[2018-01-23 20:50] robe2 opened #185 "Belarus and Minsk missing from locations"
@Komzpa ,  one of our PostGIS devs tried to put in his location on user profile, but says Belarus and Minsk are not in list of locations.

[2018-01-23 20:53] Komzpa commented on #185
on https://www.osgeo.org/wp-admin/profile.php I see this:
![image](https://user-images.githubusercontent.com/810638/35300138-a22bdaa2-0098-11e8-93a6-3416fc71a0da.png)

[2018-01-23 20:57] robe2 commented on #184
I can change the permission of subscribers to upload images, but there doesn't seem to be any granularity I can do beyond that which I guess means they can upload anywhere they can edit.

If folks are okay with me making this change to subscriber role, I can do it.

[2018-01-24 05:55] astroidex commented on #184
Thanks @robe2 for the feedback. Not so nice. Maybe we should have another at the #183 gravatar solution. On the other hand in our wiki a user can edit every page too.

What do you think? @cvvergara @jodygarnett @wildintellect ?

[2018-01-24 05:59] astroidex opened #186 "open an page that does not exists shows - Pagina niet gevonden as title of browser window"
![osgeo_1](https://user-images.githubusercontent.com/996298/35316826-ff509228-00d3-11e8-8296-b9c077271a9d.png)

Workflow
* open this page that does not exist: http://www.osgeo.org/xsds
* error message shows up

[2018-01-24 06:06] astroidex opened #187 "member dialog is displayed different"
* see https://www.osgeo.org/community/members/
* when you scroll through the page you will see that some member boxes are bigger/smaller see florin or Ari Jolma

[2018-01-24 06:15] astroidex opened #188 "local chapter page: members - view all shows less members as Who's involved"
* local chapter page shows **Who's involved** and a link to **view all** . Problem: view all shows less users

Workflow
* step 1: https://www.osgeo.org/local-chapters/fossgis-e-v/ shows > 10 member at  **Who is involved**
* step 2: click **view all** -> shows only one person -> https://www.osgeo.org/community/members/?lc=fossgis-e-v

For Projects it seams to work fine:
* tested with Mapbender http

[2018-01-24 06:16] jodygarnett commented on #184
I am really struggling with the different levels, subscriber cannot do much, ... but editor can delete other peoples pages.

I think we need an orientation session on wordpress security roles.

[2018-01-24 15:58] robe2 commented on #184
@jodygarnett  yes agreed.  I have little idea how wordpress security roles work.  Doesn't seem to be much granularity (e.g. what section one can edit) in the role admin options.

[2018-01-24 16:34] robe2 commented on #184
Looking at roles closer, I think Author might be the right level of granularity we need.

Author is a lower level than Editor.  And has 7 permissions:

1) General: Can read (I presume anything not marked as private)
2) Media: Can Upload files
3)  Pages:  Can Read  (I note there is a Edit Pages, and Edit Other's pages that is not checked.  So I assume maybe Edit Pages only allows editing of your ow

[2018-01-24 19:22] jodygarnett commented on #184
I am concerned that the gravatar is doing more harm then good now, people see their face and do not notice they need to upload an image. We have a lot of "empty" faces showing up when looking at projects or the members list.

[2018-01-24 19:24] robe2 commented on #184
I think rather than using a built-in might be better to just create our own role, maybe call it

OSGeo Basic

I'm hesitant to muck with existing roles since the level of permission isn't entirely clear from the names.

So was thinking OSGeo Basic for starters would just be able to do what subscriber does plus upload images.  We might want to add more permissions after.

[2018-01-24 19:48] cvvergara commented on #184
@robe2
does not matter what role name they use, the issues I mentioned on the report about subscriber apply to all roles.

right now we can give permission to the subscriber to upload an image and "disable" avatar, so when we have made progress on using the avatar, we "enable" it again?

[2018-01-27 09:10] astroidex opened #189 "Local Chapter definition from user profile is not displayed at member-page."
In your user profile you can define Local Chapter you belong to.

![osgeo-local-chapter](https://user-images.githubusercontent.com/996298/35470458-2f6dd47a-034a-11e8-88c2-8649b82f7aae.png)

In the user Profile there is a headline "Local Chapter" but the local chapter the user defefined is not displayed here.

* https://www.osgeo.org/member/astrid-emde/

![osgeo-member-page](https://user-images.git

[2018-01-27 09:12] astroidex opened #190 "Member Type definition from user profile is not displayed at member page."
In your user profile you can define Member Types.

![osgeo-member-type](https://user-images.githubusercontent.com/996298/35470467-50b6cfec-034a-11e8-92a8-efa3c1706b24.png)

The member types are not displayed at the member page. Would be great to display them there.
* https://www.osgeo.org/member/astrid-emde/

![osgeo-member-page](https://user-images.githubusercontent.com/996298/35470483-89b79fa6-0

[2018-02-15 14:42] #46 closed

[2018-03-04 19:08] Delawen commented on #188
In the Spanish Chapter it is even more extreme: only Jorge appears as member:

​https://www.osgeo.org/community/members/?lc=osgeo-spanish-language

[2018-03-08 19:13] rouault opened #191 "Broken links to trademark guidelines from about/branding-material/"
https://www.osgeo.org/about/branding-material/ has a dead link to http://www.osgeo.org/content/foundation/legal/trademark_guidelines.html

The old site has http://old.www.osgeo.org/content/foundation/legal/trademark_guidelines.html

[2018-03-17 13:36] jodygarnett commented on #188
Can we shortlist this for issues to work on for the next marketing committee meeting.

[2018-03-23 12:35] andreasneumann commented on #43
I agree with @stevenfeldman - currently it is really hard to find the PayPal address if someone wants to donate towards OSGeo.

Could the PayPal button or link be added again to the OSGeo webpage?

[2018-04-03 16:17] stevenfeldman opened #194 "Member search gives unexpected results"
The search feature in the Members section https://www.osgeo.org/community/members/ does not return the expected results e.g. if you search by a company name the search does not return all of the results for members who have that company name in the "company" field in their profile (Try Astun or GeoSolutions or Boundless)

Searching by country does not return all of the results either, nor do searc

[2018-04-03 16:24] stevenfeldman opened #195 "Location list may be out of control"
The location list (used for members and service providers) is growing rapidly and already has inconsistent granularity - some people have added relatively small towns while others are using a nation as their location.

I am not sure that this will be helpful to users who wish to search/filter members in a country.

Would it be worth allowing members and service providers to provide precise coordin

[2018-04-05 13:46] lucadelu commented on #181
This feed is still empty http://www.osgeo.org/news/feed/

It could be really useful to have https://www.osgeo.org/foundation-news/ reported there.

[2018-04-05 14:31] jodygarnett commented on #181
We have a number of support hours with get interactive, is this something we could figure out with @cvvergara, or should we use a support hour?

[2018-04-06 17:02] jodygarnett commented on #73
I think we are still experiencing this bug?

[2018-04-07 01:47] cvvergara commented on #184
@astroidex
As far as I can remember this issue is solved, can you please verify.

[2018-04-10 22:10] jodygarnett commented on #43
Here is a request to SAC to provide a PayPal button: https://trac.osgeo.org/osgeo/ticket/2056 (which provides dropdown for donation categories).

We are getting some overlap with the sponsorship page, which also includes instructions for using PayPal.

* https://www.osgeo.org/about/how-to-become-a-sponsor/

I would like to try and do a better job of these two things so that fundraising does not di

[2018-04-26 12:29] stevenfeldman commented on #43
A quick scan of the web site suggests that multiple content creators are possibly a source of inconsistency in the way we do things.

For example - on the resources tab we have an enormous number of pdfs uploaded by geo for all, this is going to get out of control unless we offer better filtering and some archiving. The search and filter don’t seem to work for me but that might be a safari thing (

[2018-04-26 16:34] jodygarnett commented on #43
@stevenfeldman we should make a separate discussion on this, marketing committee has some support for 2018, and budget to address high priority issues (such as search possibly not extending to custom fields?).

[2018-08-06 17:19] Delawen opened #197 "Images in Adobe Illustrator format"
There are a lot of images in a proprietary format. Can't we, at least, have an open version of each image? (In case there is a strong quality reason for not using something like SVG directly).

[2018-08-24 15:13] Delawen opened #198 "There is no Platinum type of sponsor"
Hi,

I tried to add GeoCat as Platinum sponsor, but there is no such type, although it is defined here: https://www.osgeo.org/about/how-to-become-a-sponsor/

I couldn't find any place on the source code where this list is, I guess it should be on the database. But I couldn't find a way to add it from the dashboard, maybe I don't have privileges to see the type definition?

In any case: Platinum ty

[2018-09-01 11:35] Oyeniyi opened #199 "Login logo redirection"
On a registration page of website, when i click a logo page, i was redirected to a wordpress.org website. Normaly it's can be nice if i was redirected to a osgeo.org website. To redirect logo link to osgeo.org website, go to Themes => Editor => Functions.php and add somes lines of code

// Function to redirect a login logo url to website main page
`function url_osgeo() {return get_bloginfo( 'url'

[2018-09-27 16:55] wildintellect commented on #197
Can you clarify which images you are referring to? If SVG is available then we do have it in an open format. If it helps those can easily be converted to png and jpg in various sizes (Inkscape or Imagemagick).

[2018-11-01 00:39] lucadelu commented on #59
I think this could be closed

[2018-11-11 18:08] ShivamRai2003 commented on #151
It's okay no problem i will solution for this after few days

[2018-11-11 19:08] astroidex opened #203 "main page refers to FOSS4G 2018 - please update to FOSS4G 2019"
The main page in the blue triangle still refers to FOSS4G 2018 (same for desktop and mobile version)

* https://www.osgeo.org/

[2018-11-11 20:09] cvvergara commented on #198
Added Platinum in the sponsor category
https://trac.osgeo.org/osgeo/ticket/2190

Just made GeoCat Platinum

[2018-11-11 20:09] Delawen commented on #198
Thanks!

[2018-11-11 20:09] #198 closed

[2018-11-12 19:31] camerons opened #204 "OSGeo Advocate page broken"
I notice that our OSGeo Advocate wiki page is broken and not listing all
our people.

This is what we have now:
https://wiki.osgeo.org/wiki/OSGeo_Advocate#Advocates_List

This is what it used to look like:
https://web.archive.org/web/20150302070905/https://wiki.osgeo.org/wiki/OSGeo_Advocate#Advocates

Does anyone know how to fix this?

It has just become more important as our new OSGeo Charter mem

[2018-11-12 19:53] camerons opened #205 "We have (almost) lost our OSGeo Incubation pages"
We used to have an incubation jump page to point people at: http://old.www.osgeo.org/incubator
Can we please get something similar back.

In particular, I'm missing being able to point people to our OSGeo Graduation Checklist. It has been copied as a PDF to https://www.osgeo.org/resources/project-graduation-checklist/ , but this is difficult to find if googling it, and doesn't look very authoritat

[2018-11-12 19:55] camerons commented on #205
PS, there is content here: http://osgeo.getinteractive.nl/about/committees/incubation/ which might be useful.

[2018-11-12 20:16] camerons commented on #204
Christian Willmes set up the previous OSGeo Advocate page based on PHP SMW
structured data. Maybe we just need to re-enable the plugin?

See email archives:
https://lists.osgeo.org/pipermail/discuss/2015-November/thread.html
https://lists.osgeo.org/pipermail/discuss/2015-December/thread.html

Email thread: New Semantic Mediawiki based OSGeo Member Map for the OSGeo Wiki

[2018-11-27 12:26] justb4 opened #207 "Project Posts OSGeo.org WP: add entries for Social Media and OGC Standards"
When adding a Project Post within the OSGeo WP Editor I noticed the following missing:

* Communication|Social Media: some projects use `Gitter`: add entry and logo for Gitter Chat
* OGC Standards: I added STA (SensorThings API) which is an OGC Standard but could only add the abbrev, possibly WFS-FES (WFS3) deserves a separate entry as well

[2018-12-05 08:59] picaosgeo opened #209 "">" appear in the page brand>Local chapters"
Show attached screen-shot.

<img width="1181" alt="2018-12-05 17 43 23" src="https://user-images.githubusercontent.com/4188740/49501824-1fbd3f80-f8b7-11e8-9cc3-8e446d52d62c.png">

[2018-12-05 09:02] picaosgeo opened #210 "Unnecessary? shapes remain in Colateral>One-Page info image"
Show attached screen-capture.

<img width="1101" alt="2018-12-05 17 46 12" src="https://user-images.githubusercontent.com/4188740/49501995-7cb8f580-f8b7-11e8-873f-c6d3ba1b9aa8.png">

[2019-01-02 19:11] astroidex opened #211 "osgeo.org profile settings: add ORCID at social media section"
In the member profile we could add ORCID to add a link to your ORCID profile f.e.

* Peter Loewe https://orcid.org/0000-0003-2257-0517
* Anita Graser https://orcid.org/0000-0001-5361-2885
* Markus Neteler https://courses.neteler.org/blog/

About ORCID https://orcid.org/about

[2019-02-04 18:27] pcav opened #212 "User proiles not formatted"
Apparently it is not possible to add any formatting to the short bio on user pages, therefore the result is ugly (see e.g. y profile: https://www.osgeo.org/member/paolo-cavallini/ ). Any additional html tags are sanitized.
Is it ossible to have a better formatting?
Thanks.

[2019-02-05 19:47] astroidex commented on #203
* fixed
* I went to the start page, registered, edit page and then in tab Highlight you find the event. I refered to the event page https://www.osgeo.org/events/foss4g-2019/

[2019-02-06 09:00] neteler commented on #203
This page is still outdated:
https://www.osgeo.org/initiatives/foss4g/

[2019-02-06 09:04] astroidex commented on #203
ok. Thanks for the feedback

[2019-02-07 07:06] astroidex opened #213 "OSGeo website: OSGeo-Id is not used in member link"
The OSGeo-Id is not used in the member page link.

f.e.  Dan (OSGeoID:  'theduckylittle').

User can login with:  'theduckylittle'

But then his member page is at : https://www.osgeo.org/member/little/ (without theducky)

https://id.osgeo.org/ldap/search?query=theduckylittle

[2019-02-07 16:12] cvvergara commented on #213
Trying to understand the problem this look like related tickets:
https://trac.osgeo.org/osgeo/ticket/2208
https://trac.osgeo.org/osgeo/ticket/2207
So, from security point of view, if the ldap account its theduckylittle, its good that the profile page is not theduckylittle.

[2019-02-08 16:03] astroidex commented on #213
Hi @cvvergara and thanks for the feedback.

[2019-08-28 12:50] tomkralidis opened #224 "create marketing one pager"
cc @kalxas
Create one pager marketing (for print) communication, to be used at conferences and events.

[2020-01-16 16:36] jodygarnett opened #225 "remove off-brand osgeo foundation and initiative icons"
The font has several "foundation and Initiatives icons" that are off brand:
- official foundation committees make use of osgeo mark as per style guidelines
- geoforall is a joint-initiative has uses slightly different colors

See https://github.com/OSGeo/osgeo/pull/206 for discussion

[2020-01-16 16:40] jodygarnett commented on #225
We should probably move this from:

* https://github.com/OSGeo/osgeo/tree/master/marketing/branding/symbols

To:

* https://github.com/OSGeo/osgeo/tree/master/marketing/symbols

Because the symbols are a derived product and not part of the branding.

[2020-01-16 16:40] jodygarnett commented on #225
And remove the ".DS_Store" hidden files.

[2020-01-16 16:41] jodygarnett commented on #225
@nbozon see above

[2020-01-21 11:35] jsanz opened #226 "Wordpress editing is broken"
Not sure what's going on, but editing Foundations News is practically impossible, the page seems like it's missing some CSS or JavaScript assets since the layout looks weird (no tabs, for example) and it's impossible to format or add links to the content.

I've checked this both in Chromium and Firefox, even I can't see any errors in the browser console or network tab.

![image](https://user-image

[2020-01-21 13:54] jsanz commented on #226
It's 5.3.2 according to the dashboard

![image](https://user-images.githubusercontent.com/188264/72810453-e0d67e80-3c5d-11ea-8c9e-d2f580b2e3a5.png)

but I have no idea about the plugins being used on the website, that's for the admins to answer.

[2020-01-28 18:09] jsanz commented on #226
@jodygarnett @astroidex do you have any website admin we can reach out about this issue?

I really can't create new Foundation News entries :disappointed:

[2020-01-28 19:44] jodygarnett commented on #226
Reporting infrastructure / server issue to SAC here https://trac.osgeo.org/osgeo/ticket/2402

We use GitHub to focus on content :)

[2020-01-28 21:04] jsanz commented on #226
Oh, thanks for the link, this can be closed then 👍

[2020-01-28 21:18] jodygarnett commented on #226
reported to SAC

[2020-01-28 21:18] #226 closed

[2020-01-29 03:26] jodygarnett commented on #226
It is now fixed!

[2020-05-17 18:35] jidanni opened #227 "Grammar error on 2019-sol-katz-award"
Grammar error on
https://www.osgeo.org/foundation-news/even-rouault-receives-the-2019-sol-katz-award/ :

[2020-05-17 19:15] neteler commented on #227
Thanks for catching that, fixed!

[2020-05-17 19:15] #227 closed

[2020-10-08 13:32] LoopThrough-i-j opened #230 "GeoHashing Countries"
Is there a way we can find precise Geohashes of a country?
I am on a project and facing issues regarding this problem. I thought this would be the right place to ask.

[2020-12-14 14:29] NinaPacifier commented on #199
@Oyeniyi May I work on this issue??

[2020-12-14 14:37] Sophie-is-me commented on #199
yes you can

On Mon, 14 Dec 2020 at 15:30, Nishant Nandan <notifications@github.com>
wrote:

[2021-01-25 05:13] SunveerSingh opened #231 "OSGeo LinkedIn URL invalid on osgeo.org"
On https://www.osgeo.org/ at the bottom of the page under the Find Us On section, LinkedIn takes us to this link: https://www.linkedin.com/company-beta/3338753/ while our LinkedIn is: https://www.linkedin.com/company/osgeo/

I will be happy to fix this and make a pull request, where can I find appropriate files?

[2021-01-30 15:12] astroidex commented on #231
Hello @SunveerSingh Thanks for the info. We will fix this. It has to be done in wordpress so no PR possible.

[2021-02-07 19:49] cvvergara commented on #231
@SunveerSingh
Can you check it is fixed please (I dont have linkedin account, and do not have plans to open one)

[2021-02-08 10:25] SunveerSingh commented on #231
@cvvergara Yes, it is totally fine now.

[2021-02-08 14:26] #231 closed

[2021-02-14 03:08] jidanni opened #232 "Website contact page gone"
1. Visit https://wiki.osgeo.org/wiki/Main_Page
2. In the right panel, click `Contacts - for projects, committees, etc`

Page is archived. Thus no way to contact site owners.

[2021-04-03 00:38] jidanni opened #233 "Your user needs to be merged with an LDAP-backed user, it says"
https://wiki.osgeo.org/ says

But when we click Next, it doesn't allow us to create one. I just asks us
LDAP-backed username and password.

[2021-04-03 15:46] hexmode commented on #233
You cannot create an LDAP user with this process.  You need to have one already.  One can be created by following the instructions here: https://www.osgeo.org/community/getting-started-osgeo/osgeo_userid/

[2021-04-04 04:04] jidanni commented on #233
OK, but that is never mentioned between
https://wiki.osgeo.org/w/index.php?title=Special:WikiUserMerge&returnto=Main_Page
and
https://wiki.osgeo.org/wiki/Special:WikiUserMerge/account
thus everybody will get stuck.

[2021-04-04 04:08] jidanni commented on #233
Wait, https://www.osgeo.org/community/getting-started-osgeo/osgeo_userid/ says

So I'm guessing that's now wrong.

[2021-04-04 04:41] jidanni opened #234 "Make success clearer on id.osgeo.org/ldap/edit"
OK I just finished using https://id.osgeo.org/ldap/edit
Nothing happened. Except at the top I see

OK, but at least say "Success  ✔"

[2021-04-04 04:52] jidanni opened #235 "Can't edit the wiki"
https://wiki.osgeo.org/w/index.php?title=Taiwan_datums&action=edit says

https://wiki.osgeo.org/wiki/Special:Preferences says

https://wiki.osgeo.org/w/index.php?title=Special%3AUserRights&user=Jidanni says

[2021-04-04 04:55] jidanni commented on #235
https://wiki.osgeo.org/wiki/OSGeo:Users doesn't list me. Nor can I figure out how to confirm my email again.

[2021-10-01 07:27] pesekon2 commented on #235
@jidanni I am facing the same issue. Have logged in after a year or so, followed the LDAP migration steps, and now I'm unable to edit any page - ironically, I cannot edit even my own profile now.

[2021-10-01 19:36] neteler commented on #235
The issue is handled in https://trac.osgeo.org/osgeo/ticket/2599 . Pls comment there.

[2021-10-02 05:26] pesekon2 commented on #235
@neteler Great, my issue solved individually in the ticket. Thanks.

[2021-11-06 18:57] #235 closed

[2021-11-06 19:01] #233 closed

[2022-01-28 16:45] astroidex commented on #211
https://wiki.osgeo.org/wiki/DOI

[2022-02-05 17:51] rinkydevi commented on #209
hey @picaosgeo ! I can contribute in this issue, how can i proceed?

[2022-03-13 21:19] lujoh opened #236 "Broken Contributors Link on the QGIS Project Page"
The Contributors link on the page [https://www.osgeo.org/projects/qgis/](https://www.osgeo.org/projects/qgis/) is leading me to a 404 not found error. The link in question is in the End User Resources Section and the broken URL is [https://github.com/qgis/QGIS/blob/master/doc/contributors.json](https://github.com/qgis/QGIS/blob/master/doc/contributors.json)

Please let me know if I'm posting this

[2022-08-27 10:08] astroidex opened #238 "provide english one-page-info for every project"
- svg https://github.com/OSGeo/osgeo/tree/master/marketing/collateral/one-page-info
- pdf https://github.com/OSGeo/osgeo/tree/master/marketing/print/one-page-info

- [x] deegree
- [x] gdal
- [x] geonetwork
- [x] geonode
- [x] geoomoose
- [ ] geos
- [x] geoserver
- [ ] geotools
- [x] grass-gis
- [ ] gvSig Desktop
- [x] mapbender
- [x] mapserver
- [ ] marble
- [x] openlayers
- [ ] orfeo Toolbox
- [x

[2022-09-26 05:33] Eshani-R-Sawant commented on #199
Hello Sir/Madam, I would like to contribute to this issue.

[2022-11-28 17:56] astroidex commented on #232
@jidanni thanks a lot for the feedback.
I changed the link to the osgeo website

[2022-11-28 17:57] astroidex commented on #232
Done

[2022-11-28 17:58] astroidex commented on #236
Fixed
Link goes to https://github.com/qgis/QGIS/blob/master/doc/CONTRIBUTORS

[2022-11-28 17:58] astroidex commented on #236
Done

[2022-11-28 18:01] astroidex opened #240 "Community News add link to"
On the following page in the header please add he link to the wiki to get to knwo how to add your blog to the community news.

https://www.osgeo.org/community-news/

please add a link to https://wiki.osgeo.org/wiki/PlanetOSGeo with text 'Learn how to join Planet OSGeo'